@model CLASS_DESIGNATION
@{
    COURSE course = (COURSE)ViewData["course"];
}
<script type="text/javascript" language="javascript">
    function CloseLoader() {
        $(".LoaderBox").hide();
    }
    function OpenLoader() {
        $(".LoaderBox").show();
    }
</script>
@using (Ajax.BeginForm("Update_Class_Designation", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "course_class_designations", InsertionMode = InsertionMode.Replace, OnBegin = "OpenLoader()", OnSuccess = "CloseLoader()" }, htmlAttributes: new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("course_id", course.ID)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.CREATED_AT)
    <div id="form-content">
        <div class="label-field-pair">
            <label for="name">Name</label>
            <span class="necessary-field" style="font-size:small">* Required Field</span>
            <div class="text-input-bg">
                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (course.GPA_Enabled())
        {
            <div class="label-field-pair">
                <label for="name">CGPA</label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.CGPA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CGPA, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="label-field-pair">
                <label for="name">Marks</label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.MKS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MKS, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="extender"></div>

        <div id="submit-button">
            <input type="submit" value="► Update" id="finish-button" />
        </div>

    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/dropzone.js"></script>

