@model IEnumerable<SFSAcademy.CLASS_DESIGNATION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CGPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COURSE.CRS_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CGPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATED_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COURSE.CRS_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
