@{
    ViewBag.Title = "Index";
}

<div id="content-header">
    <img src="~/Content/images/examination/show_exam.png" alt="Timetable Logo">
    <h1>Class Designations</h1>
    <h3>Manage Class Designations</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    <a href="@Url.Action("Index", "Exam")">Exam</a> &raquo;
    <a href="@Url.Action("Settings", "Exam")">Settings</a> &raquo;
    Class Designations
</div>

<div id="page-yield">
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
    <div id="course-select">
        <div class="label-field-pair">
            <label for="student_course">Select a Course</label>
            <div class="text-input-bg">
                @Html.DropDownList("CRS_ID", null, htmlAttributes: new { @class = "form-control", @id = "CourseDropDown" })
                <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Exam Logo" style="align-self:center; border:none"></div>
            </div>
        </div>
    </div>
    <div id="errors">
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }
    </div>
    <div id="course_class_designations"></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryunobtrusive") @*For unobtrusive-ajax*@
    @Scripts.Render("~/bundles/jqueryval") @*For validate and validate-unobtrusive*@

    <script type="text/javascript" language="javascript">
        $.ajaxSetup({ cache: false });
        $(document).ready(function () {
            $(".LoaderBox").hide();
            $('#CourseDropDown').change(function () {
                var selectedID = $(this).val();
                $(".LoaderBox").show();
                $.get('/Class_Designations/Load_Class_Designations?course_id=' + selectedID, function (data) {
                    $('#course_class_designations').html(data);
                    $('#course_class_designations').fadeIn('fast');
                }).success(function (status) {
                    $(".LoaderBox").hide();
                });

            });
        });
    </script>
}