@{
    IEnumerable<BATCH> batches = (IEnumerable<BATCH>)ViewData["batches"];
}

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery.ui.all.css" />
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript" language="javascript">
    $.ajaxSetup({ cache: false });
    /* This is change event for your dropdownlist */
    $(document).ready(function () {
        $(".LoaderBox").hide();
        $('#CourseDropDown').change(function () {
            var selectedID = $(this).val();
            $(".LoaderBox").show();
            $.get('/Batch_Transfers/Update_Batch?course_id=' + selectedID, function (data) {
                $('#update_batch').html(data);
                $('#update_batch').fadeIn('fast');
            }).success(function (status) {
                $(".LoaderBox").hide();
            });

        });
    });
</script>

<div id="content-header">
    <img src="~/Content/images/show_settings.png" alt="Settings Logo">
    <h1>Batch Transfer</h1>
    <h3>Home</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="page-yield">
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
    <div class="bread_crumb">
        <a href="@Url.Action("Index", "Configuration")">Configuration</a> &raquo;
        <a href="@Url.Action("Index", "Courses")">Courses</a> &raquo;
        <a href="@Url.Action("Manage_Batches", "Courses")">Manage Batch</a> &raquo;
        Batch Transfer
    </div>
    <div class="label-field-pair">
        <label for="student_course">Select a Course</label>
        <div class="text-input-bg">
            @Html.DropDownList("CRS_ID", null, htmlAttributes: new { @class = "form-control", @id = "CourseDropDown" })
            <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Exam Logo" style="align-self:center; border:none"></div>
        </div>
    </div>
    <div id="update_batch"></div>

    <div class="extender"></div>

</div>