@{
    IEnumerable<ReminderSelect> reminders = (IEnumerable<ReminderSelect>)ViewData["reminders"];
    IEnumerable<REMINDER> read_reminders = (IEnumerable<REMINDER>)ViewData["read_reminders"];
    IEnumerable<REMINDER> new_reminder_count = (IEnumerable<REMINDER>)ViewData["new_reminder_count"];
}

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery.ui.all.css" />
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript">
    $$('.message_check').invoke('observe', 'click', function () {
        if (this.checked == false) {
            $$('.check_all').first().checked = false
            var elementId = this.id;
            var $row = $("#" + elementId).closest("tr");
            $row.removeClass('active');
        }
        else {
            var elementId = this.id;
            var $row = $("#" + elementId).closest("tr");
            $row.addClass('active');
        }
    });
    $$('.check_all').invoke('observe', 'click', function () {
        var field_value = false;
        this.checked ? field_value = true : field_value = false;
        $$('.message_check').each(function () {
            var elementId = this.id;
            this.checked = field_value;
            var $row = $("#" + elementId).closest("tr");
            if (this.checked) {
                $row.addClass('active');
            }
            else {
                $row.removeClass('active');
            }
        })
    });
    $('application-list').observe('click', function (e) {
        var origin = e.element();
        if (!origin) return;
        if (!origin.nodeName) return;
        if (origin.nodeName.toLowerCase() === 'input') {
            if (e.shiftKey) {
                var checkBoxes = $$('.message_check');
                var last = checkBoxes.indexOf(lastSelected);
                var first = checkBoxes.indexOf(origin);
                if (-1 == last) {
                    lastSelected = origin;
                    return;
                }

                var start = Math.min(first, last);
                var end = Math.max(first, last);

                var chk = lastSelected.checked;
                for (var i = start; i < end; ++i) {
                    checkBoxes[i].checked = chk;
                    if (chk == false) {
                        var $row = checkBoxes[i].closest("tr");
                        $row.removeClass('active');
                    }
                    else {
                        var $row = checkBoxes[i].closest("tr");
                        $row.addClass('active');
                    }
                }
            } else {
                lastSelected = origin;
            }
        }
    });

</script>
<div id="content-header">
    <img src="~/Content/images/reminder/reminder_small.png" alt="Reminder Logo">
    <h1>Messages</h1>
    <h3>Inbox</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="inner-tab-menu">
    <ul>
        @if (new_reminder_count.Count() != 0)
        {
            <li><a href="@Url.Action("Index", "Reminder")"><b>Inbox (@new_reminder_count.Count())</b></a></li>
        }
        else
        {
            <li><a href="@Url.Action("Index", "Reminder")">Inbox</a></li>
        }
        <li><a href="@Url.Action("Sent_Reminder", "Reminder")">Sent</a></li>
        <li><a href="@Url.Action("Create_Reminder", "Reminder")">Create</a></li>
    </ul>
</div>

<div id="page-yield">
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }

    <div id="application-list">
        @using (Html.BeginForm("Reminder_Actions", "Reminder", FormMethod.Post, new { @encType = "multipart/form-data" }))
        {
            <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
                <tr class="tr-select">
                    <td colspan="4" class="text-input-bg">
                        @Html.DropDownList("REMINDER", new SelectList(Enum.GetValues(typeof(ReminderOptions))), "Select an action", new { @class = "form-control", onchange = "if(this.value==\'delete\'){if(confirm(\'Are you sure?\')){this.form.submit()}}else{this.form.submit()}" })
                    </td>
                </tr>
                <tr class="tr-head">
                    <td>@Html.CheckBox("check_all", false, new { @class = "check_all" })<label>Check All </label></td>
                    <td>
                        From
                    </td>
                    <td>
                        Subject
                    </td>
                    <td>
                        Date
                    </td>
                </tr>
                <tr class="tr-blank"></tr>
                @{int i = 1; }
                @for (var j = 0; j < reminders.Count(); j++)
                {
                    if (reminders.ElementAt(j).ReminderData.IS_READ == true)
                    {
                        string Cycle = "tr-read-even";
                        if (i % 2 == 0)
                        {
                            Cycle = "tr-read-odd";
                        }
                        USER sender_user = reminders.ElementAt(j).ReminderData.USER;
                        <tr class="@Cycle">
                            <td class="col-8">@Html.CheckBox("[" + j + "].Selected", reminders.ElementAt(j).Selected, new { @class = "message_check", data_value = reminders.ElementAt(j).ReminderData.ID })</td>
                            @if (sender_user != null)
                            {
                                <td class="col-4"><a href="@Url.Action("View_Reminder", "Reminder", new {id2 = reminders.ElementAt(j).ReminderData.ID })">@sender_user.FIRST_NAME</a></td>
                            }
                            else
                            {
                                <td class="col-4"><a href="@Url.Action("View_Reminder", "Reminder", new {id2 = reminders.ElementAt(j).ReminderData.ID })">User Unavailable</a></td>
                            }
                            <td class="col-2"><a href="@Url.Action("View_Reminder", "Reminder", new {id2 = reminders.ElementAt(j).ReminderData.ID })">@reminders.ElementAt(j).ReminderData.SUB</a></td>
                            <td class="col-1"><a href="@Url.Action("View_Reminder", "Reminder", new {id2 = reminders.ElementAt(j).ReminderData.ID })">@reminders.ElementAt(j).ReminderData.CREATED_AT.Value.ToShortDateString()</a></td>
                        </tr>
                    }
                    else
                    {
                        string Cycle = "tr-even";
                        if (i % 2 == 0)
                        {
                            Cycle = "tr-odd";
                        }
                        USER sender_user = reminders.ElementAt(j).ReminderData.USER;
                        <tr class="@Cycle">
                            <td class="col-8">@Html.CheckBox("[" + j + "].Selected", reminders.ElementAt(j).Selected, new { @class = "message_check", data_value = reminders.ElementAt(j).ReminderData.ID })</td>
                            @if (sender_user != null)
                            {
                                <td class="col-4"><a href="@Url.Action("View_Reminder", "Reminder", new {id2 = reminders.ElementAt(j).ReminderData.ID })">@sender_user.FIRST_NAME</a></td>
                            }
                            else
                            {
                                <td class="col-4"><a href="@Url.Action("View_Reminder", "Reminder", new {id2 = reminders.ElementAt(j).ReminderData.ID })">User Unavailable</a></td>
                            }
                            <td class="col-2"><a href="@Url.Action("View_Reminder", "Reminder", new {id2 = reminders.ElementAt(j).ReminderData.ID })">@reminders.ElementAt(j).ReminderData.SUB</a></td>
                            <td class="col-1"><a href="@Url.Action("View_Reminder", "Reminder", new {id2 = reminders.ElementAt(j).ReminderData.ID })">@reminders.ElementAt(j).ReminderData.CREATED_AT.Value.ToShortDateString()</a></td>
                        </tr>
                    }

                }
            </table>
        }
    </div>

</div>

