@model SFSAcademy.BATCH

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script>
    $(function () {
        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd-mm-yy',
            buttonImageOnly: true
        });
        $("#datepicker2").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd-mm-yy',
            buttonImageOnly: true
        });
    });

</script>
<div id="content-header">
    <img src="~/Content/images/examination/show_exam.png" alt="Settings Logo">
    <h1>Courses</h1>
    <h3>New</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>

<div id="page-yield">
    <div class="bread_crumb">
        <a href="@Url.Action("Index", "Configuration")">Configuration</a> &raquo;
        <a href="@Url.Action("Index", "Courses")">Courses</a> &raquo;
        <a href="@Url.Action("ManageCourse", "Courses")">Manage Course</a> &raquo;
        New
    </div>

    @if (ViewBag.Message != null)
    {
        <p class="flash-msg"> @ViewBag.Message </p>
    }

    <div id="grading-levels-form">
        <div class="bread_crumb">
            <a href="@Url.Action("Index", "Courses")">Manage Course/Batch</a> &raquo;
            <a href="@Url.Action("ManageBatches", "BATCH")">Batches</a> &raquo;
            New Batch
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="label-field-pair">
                @Html.LabelFor(model => model.NAME, "Course Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="input-container">
                    @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    <span class="necessary-field" style="font-size:small">* Required Field</span>
                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair">
                @Html.LabelFor(model => model.CRS_ID, "Course Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.DropDownList("CRS_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CRS_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair">
                @Html.LabelFor(model => model.START_DATE, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="input-container">
                    @Html.EditorFor(model => model.START_DATE, new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @Value = ViewBag.ReturnDate, required = "required" } })
                    <span class="necessary-field" style="font-size:small">* Required Field</span>
                    @Html.ValidationMessageFor(model => model.START_DATE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair">
                @Html.LabelFor(model => model.END_DATE, "End Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="necessary-field" style="font-size:small">* Required Field</span>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.END_DATE, new { htmlAttributes = new { @class = "form-control", @id = "datepicker2", @Value = ViewBag.ReturnDate2, required = "required" } })
                    @Html.ValidationMessageFor(model => model.END_DATE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair">
                @Html.LabelFor(model => model.EMP_ID, "Batch Teacher", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.DropDownList("EMP_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EMP_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="submit_area">
                <input type="submit" value="► Save" class="submit_button" />
            </div>
            <div class="extender"></div>
        }

    </div>
</div>
