@model IEnumerable<SFSAcademy.BATCH>

@{
    ViewBag.Title = "ManageBatch";
}


<div id="content-header">
    <img src="~/Content/images/show_settings.png" alt="Settings Logo">
    <h1>Courses</h1>
    <h3>Manage Batch</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("New Batch", "Create")</li>
        @if (Html.Permitted_To("Index", "Grading_Levels"))
        {
            <li><a href="@Url.Action("Index", "Grading_Levels")">Grading system</a></li>
        }
        <li><a href="@Url.Action("BatchTransfer", "Student")">Batch Transfer</a></li>
        <li>@Html.ActionLink("Revert Batch Transfer", "Revert_Batch_Transfers")</li>
    </ul>
</div>
<div class="bread_crumb">
    <a href="@Url.Action("Index", "Configuration")">Configuration</a> &raquo;
    <a href="@Url.Action("Index", "Courses")">Courses</a> &raquo;
    Manage Batch
</div>
<div id="page-yield">
    <div class="box">
        <div id="search_box_bg">
            <form name="search-form" id="search-form" action="" style="display:inline;">
                @using (Html.BeginForm("ManageBatches", "BATCH", FormMethod.Get))
                {
                    <p>
                        @Html.DropDownList("searchString", null, htmlAttributes: new { @class = "form-control" })
                        <input type="submit" value="Select Course" id="submit-button" />
                    </p>
                }

                <div class="extender"></div>
            </form>
        </div>
        <div id="fee_collection_dates"></div>
        <div id="categories">
            @{Html.RenderAction("_Update_Batch", "BATCH", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter });}
        </div>

        <div class="extender"></div>
    </div>
</div>


