@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery.ui.all.css" />
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript" language="javascript">
    $.ajaxSetup({ cache: false });
    /* This is change event for your dropdownlist */
    $(document).ready(function () {
        $(".LoaderBox").hide();
        $('#BatchDropDown').change(function () {
            var selectedID = $(this).val();
            $(".LoaderBox").show();
            $.get('/Grading_Levels/Show?batch_id=' + selectedID , function (data) {
                $('#grading-levels').html(data);
                $('#grading-levels').fadeIn('fast');
            }).success(function (status) {
                $(".LoaderBox").hide();
            });

        });
    });
</script>
<div id="content-header">
    <img src="~/Content/images/examination/show_exam.png" alt="Timetable Logo">
    <h1>Exam</h1>
    <h3>Grading Levels</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    <a href="@Url.Action("Index", "Exam")">Exam</a> &raquo;
    <a href="@Url.Action("Settings", "Exam")">Settings</a> &raquo;
    Grading Level
</div>
<div id="inner-tab-menu">
    <ul>
        @if (Html.Permitted_To("Index", "Courses"))
        {
            <li><a href="@Url.Action("Index", "Courses")">Course</a></li>
        }
    </ul>
</div>

<div id="page-yield">
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="flash-msg"> @ViewBag.ErrorMessage </p>
    }
    <div class="box">
        <div class="label-field-pair">
            <label for="student_course">Select a Batch</label>
            <div class="text-input-bg">
                @Html.DropDownList("BATCH_ID", null, htmlAttributes: new { @class = "form-control", @id = "BatchDropDown" })
                <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
            </div>
        </div>


        <div id="grading-levels">@Html.Partial("_Grading_Levels")</div>
        <div id="modal-box" style="display:none;"></div>

    </div>
</div>