@model PagedList.IPagedList<SFSAcademy.Models.Student>
@using PagedList.Mvc;
@using SFSAcademy.Models
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script>
    $(function () {
        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd-mm-yy',
            buttonImageOnly: true
        });
        $("#datepicker2").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd-mm-yy',
            buttonImageOnly: true
        });
    });
</script>
<script type="text/javascript">
    $('.open-datetimepicker').click(function (event) {
        event.preventDefault();
        $('#datetimepicker').click();
    });
</script>
<div id="content-header">
    <img src="~/Content/images/student_details/student_details_logo.jpg" alt="Student Details Logo">
    <h1>Student</h1>
    <h3>Advanced Search</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Stundet Details", "Index") &raquo;
    Advance Search
</div>
<div id="flash_box">
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="flash-msg"> @ViewBag.ErrorMessage </p>
    }
</div>
<div id="page-yield">
    <div id="search_box_bg">
        <div id="searchbox">
            <form name="search-form" id="search-form" action="" style="display:inline;">
                @using (Html.BeginForm("AdvancedSearch", "Student", FormMethod.Get))
                {
                    <table>
                        <tr>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="FIRST_NAME">Name:</label>
                                    <div class="text-input-bg">
                                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="ADMSN_NO">Admission Number:</label>
                                    <div class="text-input-bg">
                                        @Html.TextBox("AdmissionNumber", ViewBag.CurrentFilter2 as string)
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="HAS_PD_FE">Fees Paid Status:</label>
                                    <div class="text-input-bg">
                                        @Html.DropDownList("HadPdFees", new SelectList(Enum.GetValues(typeof(HadPdFees))), "Select Fees Paid Status", new { @class = "form-control", @id = "MissingDetl" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="BTCH_ID">Course Batches:</label>
                                    <div class="text-input-bg">
                                        @Html.DropDownList("CourseBatches", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="BLOOD_GRP">Blood Group:</label>
                                    <div class="text-input-bg">
                                        @Html.DropDownList("BloodGroup", new List<SelectListItem>
                                            { new SelectListItem{Text="A+", Value="A+"},
                                                new SelectListItem{Text="A-", Value="A-"},
                                                new SelectListItem { Text = "B+", Value = "B+" },
                                                new SelectListItem { Text = "B-", Value = "B-" },
                                                new SelectListItem{Text="O+", Value="O+"},
                                                new SelectListItem{Text="O-", Value="O-"},
                                                new SelectListItem{Text="AB+", Value="AB+"},
                                                new SelectListItem{Text="AB-", Value="AB-"}}, "Select Blood Group")
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="NAME">Student Grade:</label>
                                    <div class="text-input-bg">
                                        @Html.TextBox("StudentGrade", ViewBag.CurrentFilter8 as string)
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="DOB">Student Birth From Date:</label>
                                    <div class="text-input-bg">
                                        @Html.Editor("StudentBirthFromDate", new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @Value = ViewBag.CurrentFilter9 } })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="DOB">Student Birth To Date:</label>
                                    <div class="text-input-bg">
                                        @Html.Editor("StudentBirthToDate", new { htmlAttributes = new { @class = "form-control", @id = "datepicker2", @Value = ViewBag.CurrentFilter10 } })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="NAME">Category:</label>
                                    <div class="text-input-bg">
                                        @Html.TextBox("Category", ViewBag.CurrentFilter5 as string)
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="label-field-pair label">
                                    <label for="NAME">Missing Details:</label>
                                    <div class="text-input-bg">
                                        @Html.DropDownList("MissingDetl", new SelectList(Enum.GetValues(typeof(MissingDetl))), "Select Missing Details", new { @class = "form-control", @id = "MissingDetl" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label_field_pair">
                                    <label class="label_for_student" for="student_gender">Student Gender:</label>
                                    <div class="student_gender_value">
                                        @Html.RadioButton("StudentGender", "M", ViewBag.CurrentFilter6 == "M" ? true : false)@Html.Label("Male", new { @class = "label_for_gender" })
                                        @Html.RadioButton("StudentGender", "F", ViewBag.CurrentFilter6 == "F" ? true : false)@Html.Label("Female", new { @class = "label_for_gender" })
                                        @Html.RadioButton("StudentGender", "All", ViewBag.CurrentFilter6 == "All" || ViewBag.CurrentFilter6 == null ? true : false)@Html.Label("All", new { @class = "label_for_gender" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="label_field_pair">
                                    <label class="label_for_student" for="student_gender">Students Status:</label>
                                    <div class="student_gender_value">
                                        @Html.RadioButton("ActiveStudent", "Y", ViewBag.CurrentFilter11 == "Y" ? true : false)@Html.Label("Active Students", new { @class = "label_for_gender" })
                                        @Html.RadioButton("ActiveStudent", "N", ViewBag.CurrentFilter11 == "N" ? true : false)@Html.Label("Students Left School", new { @class = "label_for_gender" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Search" class="submit" />
                    <a href="@Url.Action("AdvancedSearchPdf", "Student",new { searchString = ViewBag.CurrentFilter, AdmissionNumber = ViewBag.CurrentFilter2, HadPdFees = ViewBag.CurrentFilter3, CourseBatches = ViewBag.CurrentFilter4, Category = ViewBag.CurrentFilter5, StudentGender= ViewBag.CurrentFilter6, BloodGroup = ViewBag.CurrentFilter7, StudentGrade = ViewBag.CurrentFilter8, StudentBirthFromDate = ViewBag.CurrentFilter9, StudentBirthToDate= ViewBag.CurrentFilter10 , ActiveStudent = ViewBag.CurrentFilter11 , MissingDetl = ViewBag.CurrentFilter12 })" alt="View PDF Report" target="_blank" class="submit">View PDF Report</a>
                }
                <div class="extender"></div>
            </form>
        </div>
    </div>

    <div class="students-table">
        <table id="listing" align="center" style="width:100%" cellpadding="1" cellspacing="1">
            <tr class="tr-head">
                <th>
                    Sl. No.
                </th>
                <th>
                    @Html.ActionLink("Last Name", "AdvancedSearch", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter6 = ViewBag.CurrentFilter6, currentFilter7 = ViewBag.CurrentFilter7, currentFilter8 = ViewBag.CurrentFilter8, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10, currentFilter11 = ViewBag.CurrentFilter11, currentFilter12 = ViewBag.CurrentFilter12 })
                </th>
                <th>
                    @Html.ActionLink("Full Name", "AdvancedSearch", new { sortOrder = ViewBag.NameSortParm2, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter6 = ViewBag.CurrentFilter6, currentFilter7 = ViewBag.CurrentFilter7, currentFilter8 = ViewBag.CurrentFilter8, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10, currentFilter11 = ViewBag.CurrentFilter11, currentFilter12 = ViewBag.CurrentFilter12 })
                </th>
                <th>
                    Batch
                </th>
                <th>
                    Section
                </th>
                <th>
                    @Html.ActionLink("Roll Number", "AdvancedSearch", new { sortOrder = ViewBag.NameSortParm3, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter6 = ViewBag.CurrentFilter6, currentFilter7 = ViewBag.CurrentFilter7, currentFilter8 = ViewBag.CurrentFilter8, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10, currentFilter11 = ViewBag.CurrentFilter11, currentFilter12 = ViewBag.CurrentFilter12 })
                </th>
                <th>
                    @Html.ActionLink("Date of Birth", "AdvancedSearch", new { sortOrder = ViewBag.NameSortParm5, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter6 = ViewBag.CurrentFilter6, currentFilter7 = ViewBag.CurrentFilter7, currentFilter8 = ViewBag.CurrentFilter8, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10, currentFilter11 = ViewBag.CurrentFilter11, currentFilter12 = ViewBag.CurrentFilter12 })
                </th>
                <th>
                    Blood Group
                </th>
                <th>
                    @Html.ActionLink("Admission Date", "AdvancedSearch", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter6 = ViewBag.CurrentFilter6, currentFilter7 = ViewBag.CurrentFilter7, currentFilter8 = ViewBag.CurrentFilter8, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10, currentFilter11 = ViewBag.CurrentFilter11, currentFilter12 = ViewBag.CurrentFilter12 })
                </th>
                <th>
                    @Html.ActionLink("Admission Number", "AdvancedSearch", new { sortOrder = ViewBag.NameSortParm4, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter6 = ViewBag.CurrentFilter6, currentFilter7 = ViewBag.CurrentFilter7, currentFilter8 = ViewBag.CurrentFilter8, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10, currentFilter11 = ViewBag.CurrentFilter11, currentFilter12 = ViewBag.CurrentFilter12 })
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Guardian
                </th>
                <th>
                    Address
                </th>
                @if (Html.CurrentUser_UserType().Equals("Admin"))
                {
                    <th>
                        Select
                    </th>
                }

            </tr>
            <tr class="tr-blank"></tr>
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string selectedRow = "tr-even";
                if (i % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="@selectedRow">
                    <td class="col-1">@i</td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.StudentData.LAST_NAME)
                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.StudentData.FIRST_NAME)
                        <label> </label>
                        @Html.DisplayFor(modelItem => item.StudentData.MID_NAME)
                        <label> </label>
                        @Html.DisplayFor(modelItem => item.StudentData.LAST_NAME)
                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.CourseData.CODE)
                        <label>-</label>
                        @Html.DisplayFor(modelItem => item.BatcheData.NAME)
                    </td>
                    <td class="col-3" nowrap>
                        @Html.DisplayFor(modelItem => item.BatcheData.NAME)
                    </td>
                    <td class="col-4" nowrap>
                        @Html.DisplayFor(modelItem => item.StudentData.CLS_ROLL_NO)
                    </td>
                    <td class="col-5" nowrap>
                        @if (!item.StudentData.DOB.Equals(null))
                        {
                            @item.StudentData.DOB.Value.ToShortDateString()
                        }
                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.StudentData.BLOOD_GRP)
                    </td>
                    <td class="col-5" nowrap>
                        @item.StudentData.ADMSN_DATE.Value.ToShortDateString()
                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.StudentData.ADMSN_NO)
                    </td>
                    <td class="col-5" nowrap>
                        @if (!item.StudentData.PH1.Equals(null) && !item.StudentData.PH2.Equals(null))
                        { @Html.DisplayFor(modelItem => item.StudentData.PH1)
                            <label>/</label>
                            @Html.DisplayFor(modelItem => item.StudentData.PH2)
                        }
                        else if (!item.StudentData.PH1.Equals(null))
                        {
                            @Html.DisplayFor(modelItem => item.StudentData.PH1)
                        }
                        else if (!item.StudentData.PH2.Equals(null))
                        {
                            @Html.DisplayFor(modelItem => item.StudentData.PH2)
                        }

                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.GuardianData.FIRST_NAME)
                        <label> </label>
                        @Html.DisplayFor(modelItem => item.GuardianData.LAST_NAME)
                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.StudentData.ADDR_LINE1)
                        <label>,</label>
                        @Html.DisplayFor(modelItem => item.StudentData.ADDR_LINE2)
                        <label>,</label>
                        @Html.DisplayFor(modelItem => item.StudentData.CITY)
                        <label>,</label>
                        @Html.DisplayFor(modelItem => item.StudentData.STATE)
                        <label>-</label>
                        @Html.DisplayFor(modelItem => item.StudentData.PIN_CODE)
                    </td>
                    @if (Html.CurrentUser_UserType().Equals("Admin"))
                    {
                        if (ViewBag.currentFilter11 == "N")
                        {
                            <td class="col-6" nowrap>
                                @Html.ActionLink("Make Active ", "ActivateStudent", new { id = item.StudentData.ID }, new { style = "text-decoration:underline" })
                            </td>
                        }
                        else
                        {
                            <td class="col-6" nowrap>
                                @Html.ActionLink("Edit ", "Edit", new { id = item.StudentData.ID }, new { style = "text-decoration:underline" })|@Html.ActionLink(" Details ", "Details", new { id = item.StudentData.ID }, new { style = "text-decoration:underline" })|@Html.ActionLink(" Delete", "Delete", new { id = item.StudentData.ID }, new { style = "text-decoration:underline" })
                            </td>
                        }
                    }

                </tr>
                i = i + 1;
            }
        </table>
        <br />
        @Html.PagedListPager(Model, page => Url.Action("AdvancedSearch",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter6 = ViewBag.CurrentFilter6, currentFilter7 = ViewBag.CurrentFilter7, currentFilter8 = ViewBag.CurrentFilter8, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10, currentFilter11 = ViewBag.CurrentFilter11, currentFilter12 = ViewBag.CurrentFilter12 }))
    </div>

    <div id="user_information"> </div>
    <div class="extender"> </div>
    <div id="information"></div>
</div>