@model IEnumerable < SFSAcademy.Models.Student>
@using SFSAcademy.Models
@{
    Layout = null;
}
<link rel="stylesheet" id="stylesheet" type="text/css" href="~/Content/stylesheets/student/advanced_search_pdf.css">

<div id="page-yield">
    <div class="hor_line"></div>
    <h2>S. F. Square Academy - Students Advanced Search Result</h2>
    <div class="hor_line"></div>
    <div class="report">
        <table id="pdf-table" style="width:100%" cellspacing="0">
            <tr class="tr-head">
                <th>
                    Sl. No.
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Batch
                </th>
                <th>
                    Section
                </th>
                <th>
                    Roll Number
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Blood Group
                </th>
                <th>
                    Admission Date
                </th>
                <th>
                    Admission Number
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Guardian
                </th>
                <th>
                    Address
                </th>
            </tr>
            <tr class="tr-blank"></tr>
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string selectedRow = "even";
                if (i % 2 == 0)
                {
                    selectedRow = "odd";
                }
                <tr class="@selectedRow">
                    <td class="col-1">@i</td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.StudentData.LAST_NAME)
                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.StudentData.FIRST_NAME)
                        <label> </label>
                        @Html.DisplayFor(modelItem => item.StudentData.MID_NAME)
                        <label> </label>
                        @Html.DisplayFor(modelItem => item.StudentData.LAST_NAME)
                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.CourseData.CODE)
                        <label>-</label>
                        @Html.DisplayFor(modelItem => item.BatcheData.NAME)
                    </td>
                    <td class="col-3" nowrap>
                        @Html.DisplayFor(modelItem => item.BatcheData.NAME)
                    </td>
                    <td class="col-4" nowrap>
                        @Html.DisplayFor(modelItem => item.StudentData.CLS_ROLL_NO)
                    </td>
                    <td class="col-5" nowrap>
                        @if (!item.StudentData.DOB.Equals(null))
                        {
                            @item.StudentData.DOB.Value.ToShortDateString()
                        }
                        
                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.StudentData.BLOOD_GRP)
                    </td>
                    <td class="col-5" nowrap>
                        @item.StudentData.ADMSN_DATE.Value.ToShortDateString()
                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.StudentData.ADMSN_NO)
                    </td>
                    <td class="col-5" nowrap>
                        @if (!item.StudentData.PH1.Equals(null) && !item.StudentData.PH2.Equals(null))
                        { @Html.DisplayFor(modelItem => item.StudentData.PH1)
                            <label>/</label>
                            @Html.DisplayFor(modelItem => item.StudentData.PH2)
                        }
                        else if (!item.StudentData.PH1.Equals(null))
                        {
                            @Html.DisplayFor(modelItem => item.StudentData.PH1)
                        }
                        else if (!item.StudentData.PH2.Equals(null))
                        {
                            @Html.DisplayFor(modelItem => item.StudentData.PH2)
                        }

                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.GuardianData.FIRST_NAME)
                        <label> </label>
                        @Html.DisplayFor(modelItem => item.GuardianData.LAST_NAME)
                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.StudentData.ADDR_LINE1)
                        <label>,</label>
                        @Html.DisplayFor(modelItem => item.StudentData.ADDR_LINE2)
                        <label>,</label>
                        @Html.DisplayFor(modelItem => item.StudentData.CITY)
                    </td>
                </tr>
                i = i + 1;
            }
            <tr class="odd" cellspacing="0">
                <td class="col-pdf"><input type="submit" id="submit_button" value="Print" class="submit_button" onclick="window.print()" /></td>
            </tr>
        </table>
    </div>
</div>
