@model IEnumerable<SFSAcademy.RadioCourseBatch>

@{
    ViewBag.Title = "Index";
}

<div id="content-header">
    <img src="~/Content/images/student_details/student_details_logo.jpg" alt="Student Details Logo">
    <h1>Student Details</h1>
    <h3>Student Batch Transfer</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Student Details", "Index") &raquo;
    @Html.ActionLink("View All Stundets", "ViewAll") &raquo;
    @Html.ActionLink("Batch Transfer", "BatchTransfer_Index") &raquo;
    Batch Transfer for Course
</div>
<div id="flash_box">
    @if (ViewBag.BatchTransferMessage != null)
            {
        <p class="flash-msg"> @ViewBag.BatchTransferMessage </p>
    }
</div>
<div id="page-yield">
    <div id="search_box_bg">
        <div id="searchbox">
            <form name="search-form" id="search-form" action="" style="display:inline;">
                @using (Html.BeginForm("ViewAll", "Student", FormMethod.Get))
                {
                    <p>
                        <div class="label-field-pair label">
                            <label for="FIRST_NAME">Batch:</label>
                            <div class="text-input-bg">
                                @Html.DropDownList("searchString", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        @if (ViewBag.IsPostBack == 1)
                        {
                            <div class="label-field-pair2 label">
                                <label for="FIRST_NAME">Transfer To Batch:</label>
                                <div id="radio-buttons">
                                    @foreach (var item in Model)
                                    {
                                        <label>@Html.RadioButtonFor(m => m.FirstOrDefault().BatchId, item.BatchData.ID) @item.CourseData.CODE - @item.BatchData.NAME</label>
                                    }
                                </div>
                            </div>
                            <br/>
                            <input type="submit" value="Search / Tranfer Batch" class="submit-button" />
                        }
                        else
                        {
                            <input type="submit" value="Search" class="submit-button" />
                        }
                    </p>
                }

                <div class="extender"></div>
            </form>
        </div>
    </div>
    @if (ViewBag.IsPostBack == 1)
    {
        <div class="students-table">
            <div id="text-input-bg">
                @{Html.RenderAction("_ListStudentsForTransfer", "Student", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter });}

            </div>
        </div>
    }

    <div id="students"></div>
</div>




