@{
    SFSAcademyEntities db = new SFSAcademyEntities();
    IEnumerable<SFSAcademy.Employee> employees = (IEnumerable<SFSAcademy.Employee>)ViewData["employees"];
    EMPLOYEE_DEPARTMENT dept = (EMPLOYEE_DEPARTMENT)ViewData["dept"];
}
<script>
    $(document).ready(function () {
        $(".LoaderBox").hide();
        $('#submit-button2').click(function () {
            $(".LoaderBox").show();
            var selectedID = $('#dept_id').val();
            var SelectedNext = $('#next_Minus').val();
            $.get('/Employee_Attendances/Show?dept_id=' + selectedID + "&next=" + SelectedNext, function (data) {
                $('#register').html(data);
                $('#register').fadeIn('fast');
            }).success(function (status) {
                $(".LoaderBox").hide();
            });

        });

        $('#submit-button3').click(function () {
            $(".LoaderBox").show();
            var selectedID = $('#dept_id').val();
            var SelectedNext = $('#next_Plus').val();
            $.get('/Employee_Attendances/Show?dept_id=' + selectedID + "&next=" + SelectedNext, function (data) {
                $('#register').html(data);
                $('#register').fadeIn('fast');
            }).success(function (status) {
                $(".LoaderBox").hide();
            });

        });
    });
    function LoadNewPartialPage(sender) {
        $(".LoaderBox").show();
        $.get(sender, function (data) {
            $('#modal-box').html(data);
            $('#modal-box').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox").hide();
            $('#modal-box').dialog('open');
        });
    }
    function LoadEditPartialPage(sender) {
        $(".LoaderBox").show();
        $.get(sender, function (data) {
            $('#modal-box').html(data);
            $('#modal-box').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox").hide();
            $('#modal-box').dialog('open');
        });
    }
    function LoadDeletePartialPage(sender) {
        $(".LoaderBox").show();
        if (confirm('Are you sure to delete this?')) {
            $.get(sender, function (data) {
                $('#register').html(data);
                $('#register').fadeIn('fast');
            }).success(function (status) {
                $(".LoaderBox").hide();
            });
        }
    }
</script>
@if (ViewBag.Notice != null)
{
    <p class="flash-msg"> @ViewBag.Notice </p>
}
@if (ViewBag.ErrorMessage != null)
{
    <p class="flash-msg"> @ViewBag.ErrorMessage </p>
}
<div class="header">
    <div class="prev">
        <a id="submit-button2">◄</a>
    </div>
    <div class="month">
        @ViewBag.today
    </div>
    <div class="next">
        <a id="submit-button3">►</a>
    </div>
    <div class="extender"></div>
</div>
<div class="box-1">
    <table class="" id="register-table" align="center" style="width:100%">
        <tr class="tr-head">
            <td class="head-td-name themed_text">Name</td>
            @{DateTime current_day = System.DateTime.Today; DateTime DateVal = System.DateTime.Today;}
            @for (DateVal = ViewBag.start_date; DateVal <= ViewBag.end_date; DateVal = DateVal.AddDays(1))
            {
                if (current_day == DateVal)
                {
                    <td class="head-td-date active"><div class="day themed_text">@DateVal.Day</div> <div class="date"> @DateVal.Month</div></td>
                }
                else
                {
                    <td class="head-td-date"><div class="day themed_text">@DateVal.Day</div> <div class="date"> @DateVal.Month</div></td>
                }
            }
        </tr>
        @{ int i = 0;}
        @foreach (var item in employees)
        {
            string selectedRow = "tr-even";
            if (i % 2 == 0)
            {
                selectedRow = "tr-odd";
            }
            <tr class="@selectedRow">
                <td class="td-name">
                    @if (item.EmployeeData.FIRST_NAME.Contains("MD") || item.EmployeeData.FIRST_NAME.Contains("Md") || item.EmployeeData.FIRST_NAME.Contains("md"))
                    {
                        @item.EmployeeData.FIRST_NAME @item.EmployeeData.MID_NAME
                    }
                    else
                    {
                        @item.EmployeeData.FIRST_NAME
                    }
                    <div class="date">
                        <div class="themed_text"><span>@item.EmployeeData.FIRST_NAME @item.EmployeeData.MID_NAME @item.EmployeeData.LAST_NAME</span></div>
                    </div>
                </td>
                @for (DateVal = ViewBag.start_date; DateVal <= ViewBag.end_date; DateVal = DateVal.AddDays(1))
                {
                    var absent = db.EMPLOYEE_ATTENDENCES.Where(x => x.EMP_ID == item.EmployeeData.ID && x.ATNDENCE_DATE == DateVal).FirstOrDefault();
                    if (current_day == DateVal)
                    {
            <td id="attendance-employee-@item.EmployeeData.ID-day-@DateVal" class="td-mark active">
                @if (absent != null && absent.ID != 0)
                {
                    <a href="@Url.Action("Edit", "Employee_Attendances",new {Abs_Id = absent.ID, id2 = @item.EmployeeData.ID, next = ViewBag.today })" class="absent themed_text" onclick='LoadEditPartialPage(this.href); return false;'>X</a>
                    <a href="@Url.Action("Destroy", "Employee_Attendances",new {Abs_Id = absent.ID, next = ViewBag.today})" style="border:none" class="absent themed_text" onclick='LoadDeletePartialPage(this.href); return false;'><img src="~/Content/images/buttons/delete-new.png"></a>
                }
                else
                {
                    <a href="@Url.Action("New", "Employee_Attendances",new {Sel_date =DateVal.ToShortDateString(), id2 = @item.EmployeeData.ID, next = ViewBag.today })" class="present" onclick='LoadNewPartialPage(this.href); return false;'>O</a>
                }
                <div class="date">
                    <div> <span class="themed_text"> @DateVal.ToShortDateString() @item.EmployeeData.FIRST_NAME @item.EmployeeData.MID_NAME @item.EmployeeData.LAST_NAME</span> </div>
                </div>
            </td>
                    }
                    else
                    {
            <td id="attendance-employee-@item.EmployeeData.ID-day-@DateVal" class="td-mark">
                @if (absent != null && absent.ID != 0)
                {
                    <a href="@Url.Action("Edit", "Employee_Attendances",new {Abs_Id = absent.ID, id2 = @item.EmployeeData.ID, next = ViewBag.today })" class="absent themed_text" onclick='LoadEditPartialPage(this.href); return false;'>X</a>
                    <a href="@Url.Action("Destroy", "Employee_Attendances",new {Abs_Id = absent.ID, next = ViewBag.today})" style="border:none" class="absent themed_text" onclick='LoadDeletePartialPage(this.href); return false;'><img src="~/Content/images/buttons/delete-new.png"></a>
                }
                else
                {
                    <a href="@Url.Action("New", "Employee_Attendances",new {Sel_date =DateVal.ToShortDateString(), id2 = @item.EmployeeData.ID, next = ViewBag.today })" class="present" onclick='LoadNewPartialPage(this.href); return false;'>O</a>
                }
                <div class="date">
                    <div><span class="themed_text">@DateVal.ToShortDateString()  @item.EmployeeData.FIRST_NAME @item.EmployeeData.MID_NAME @item.EmployeeData.LAST_NAME</span> </div>
                </div>
            </td>
                    }

                }
            </tr>
        }
    </table>
</div>
<div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
<input type="hidden" value="@dept.ID" id="dept_id" name="dept_id" />
<input type="hidden" value="@ViewBag.today_Plus_1Month" id="next_Plus" name="next_Plus" />
<input type="hidden" value="@ViewBag.today_Minus_1Month" id="next_Minus" name="next_Minus" />
