@model SFSAcademy.RANKING_LEVEL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RANKING_LEVEL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBJ_CNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJ_CNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FULL_CRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FULL_CRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBJ_LMT_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJ_LMT_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MKS_LMT_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MKS_LMT_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COURSE.CRS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE.CRS_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
