@model SFSAcademy.CLASS_TIMING_ENTRY
@{
    SFSAcademy.CLASS_TIMING_SET Class_Timing_Set = (SFSAcademy.CLASS_TIMING_SET)ViewData["Class_Timing_Set"];
}
@{
    ViewBag.Title = "New";
}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $(function () {
            $("#modal-box").dialog({
                autoOpen: false,
                draggable: true,
                resizable: true,
                width: 500,
                height: 'auto',
                dialogClass: "alert",
                cache: false,
                buttons: {
                    Cancel: function () {
                        $("#modal-box").dialog("close");
                    }
                },
                modal: true
            });

        });

        // initialize input widgets first
        $('.timepicker').timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia',
            'minTime': '7:00am',
            'maxTime': '8:00pm',
            'step': 5,
            'timeFormat': 'H:i:s'
        });

        // initialize datepair
        var basicExampleEl = document.getElementById('timepicker');
        var basicExampleEl2 = document.getElementById('timepicker2');
    });
    $('#modal-box').dialog("open");
</script>

<label class="head_label">
    Add New class timing for @Class_Timing_Set.NAME
</label>
<div id="ajax-create">
    @using (Html.BeginForm("Create", "Class_Timings", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("CLASS_TIMING_SET_ID", Class_Timing_Set.ID)
        <div id="form-errors"></div>
        <div class="label-field-pair label">
            <label for="name">Name</label>
            <div class="text-input-bg">@Html.EditorFor(model => model.NAME)</div>
        </div>

        <div class="label-field-pair label">
            <label for="name"> Start Time </label>
            <div class="time-select-field">
                @Html.EditorFor(model => model.START_TIME, new { htmlAttributes = new { @class = @"timepicker", @id = "timepicker" } })
            </div>
        </div>
        <div class="label-field-pair label">
            <label for="name">End Time</label>
            <div class="time-select-field">
                @Html.EditorFor(model => model.END_TIME, new { htmlAttributes = new { @class = @"timepicker", @id = "timepicker2" } })
            </div>
        </div>
        <div class="label-checkbox-pair label">
            <label>@Html.CheckBoxFor(x => x.IS_BRK) Is a break</label>
        </div>
        <input type="submit" value="► Save" class="user_button" />

    }
</div>
