
@{
    IEnumerable<SFSAcademy.CLASS_TIMING> class_timings = (IEnumerable<SFSAcademy.CLASS_TIMING>)ViewData["class_timings"];
    IEnumerable<SFSAcademy.PERIOD_ENTRIES> PeriodEntry = (IEnumerable<SFSAcademy.PERIOD_ENTRIES>)ViewData["PeriodEntry"];
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript" language="javascript">

    //Very similar function as before (except this time with an argument)
    function LoadOneClickPartialPage(sender) {
        $(".LoaderBox").show();
        /* Request the partial view with .get request. */
        $.get(sender, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#modal-box').html(data);
            /* little fade in effect */
            $('#modal-box').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox").hide();
        });
    }
</script>
<div class="linker">
    <a href="@Url.Action("New", "Class_Timings",new {id= ViewBag.BTCH_ID })" onclick='LoadOneClickPartialPage(this.href); return false;'>Add</a>
</div>
@if (class_timings != null && class_timings.Count() != 0)
{
    <table id="class-timings-list" width="100%">
        <tr class="tr-head">
            <td>Name</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Operations</td>
        </tr>
        @{int i = 1;}
        @foreach (var item in class_timings)
        {
            string code = "tr-even";
            if (i % 2 == 0)
            {
                code = "tr-odd";
            }
            <tr id="class-timing-@item.ID" class="@code">
                <td class="col-1">@item.NAME</td>
                @if (item.START_TIME != null)
                {
                    <td class="col-3">@item.START_TIME</td>
                }
                else
                { <td class="col-3"> </td> }
                @if (item.END_TIME != null)
                {
                    <td class="col-3">@item.END_TIME</td>
                }
                else
                { <td class="col-3"> </td> }
                <td class="col-3">
                    <small>
                        <a href="@Url.Action("Edit", "Class_Timings",new {id=item.ID, BatchId = ViewBag.BTCH_ID })" onclick='LoadOneClickPartialPage(this.href); return false;'>Edit</a>
                        |
                        @{ var tt = PeriodEntry.Where(x => x.CLASS_TIMING_ID == item.ID).ToList();}
                        @if (tt == null || tt.Count() == 0)
                        {
                            @Html.ActionLink("Delete", "Destroy", new { id = item.ID}, new { @onclick = "return confirm('are you sure?')" })
                        }
                        else
                        {
                            <s>Delete</s>
                        }
                    </small>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>Set in common</h4>
}
<div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>

