@model IEnumerable<SFSAcademy.CLASS_TIMING_SET>
@{
    ViewBag.Title = "Index";
}
<div id="content-header">
    <img src="~/Content/images/show_timetable.png" alt="Timetable Logo">
    <h1>Timetable</h1>
    <h3>Class Timing Sets</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("New", "Class_TimingSet_New")</li>
    </ul>
</div>
<div class="bread_crumb">
    <a href="@Url.Action("Index", "Timetable")"> Timetable &raquo; </a> 
    Class Timings Set
</div>
<div id="page-yield">
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
    <table id="class-timings-list" style="width:100%">
        <tr>
            <th>
                Sl. No.
            </th>
            <th>
                Name
            </th>
            <th>
                Options
            </th>
        </tr>
        @{int i = 1; }
        @foreach (var item in Model)
        {
            string selectedRow = "tr-even";
            if (i % 2 == 0)
            {
                selectedRow = "tr-odd";
            }
            <tr id="class-timing-@item.ID" class="@selectedRow">
                <td class="col-1">
                    @i
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td class="col-2">
                    @Html.ActionLink("View class timings", "Class_TimingSet_View", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Class_TimingSet_Delete", new { id = item.ID }, new { @onclick = "return confirm('are you sure you want to delete this?')" })
                </td>
            </tr>
            i = i + 1;
        }
    </table>
</div>
