@model SFSAcademy.TIMETABLE

@{
    ViewBag.Title = "Create";
}

<script>
    $(function () {
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd/mm/yy',
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            showAnim: 'slideDown'
        });
    });

</script>
<div id="content-header">
    <img src="~/Content/images/show_timetable.png" alt="Timetable Logo">
    <h1>Timetable</h1>
    <h3>New Timetable</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    <a href="@Url.Action("Index", "Timetable")"> Timetable</a> &raquo;
    New Timetable
</div>
<div id="page-yield">
    <div class="box">
        @if (ViewBag.Notice != null)
            {
            <p class="flash-msg"> @ViewBag.Notice </p>
        }
        @if (ViewBag.ErrorMessage != null)
            {
            <div id="errorExplanation" class="errorExplanation"> @ViewBag.ErrorMessage </div>
            <p class="flash-msg"> @ViewBag.Notice </p>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="label-field-pair label">
                <label for="start_date"> Start Date </label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.START_DATE, new { htmlAttributes = new { @class = "m-wrap  datepicker"} })
                    @Html.ValidationMessageFor(model => model.START_DATE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair label">
                <label for="start_date"> End Date </label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.END_DATE, new { htmlAttributes = new { @class = "m-wrap  datepicker" } })
                    @Html.ValidationMessageFor(model => model.END_DATE, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" value="► Create" class="submit_button" />
        }
    </div>
</div>

