@model IEnumerable<SFSAcademy.COURSE>

@{
    ViewBag.Title = "ManageCourse";
}


<div id="content-header">
    <img src="~/Content/images/show_settings.png" alt="Settings Logo">
    <h1>Courses</h1>
    <h3>Manage Course</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("New", "Create")</li>
    </ul>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <a href="@Url.Action("Index", "Configuration")">Configuration</a> &raquo;
        <a href="@Url.Action("Index", "Courses")">Courses</a> &raquo;
        Manage Course
    </div>
    @if (ViewBag.Message != null)
    {
        <p class="flash-msg"> @ViewBag.Message </p>
    }
    <div class="box">
        <h4 align="center">Course</h4>
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string selectedRow = "tr-even";
                if (i % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.CRS_NAME)
                    </td>
                    <td>
                        <span>   </span>
                        <span>   </span>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { style = "text-decoration:underline" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { style = "text-decoration:underline" })
                    </td>
                </tr>
                i = i + 1;
            }
        </table>
        <div class="extender"></div>
    </div>
</div>
