@model SFSAcademy.Models.SubmitFeeDiscounts
@using SFSAcademy.Models
@{
    STUDENT student = (STUDENT)ViewData["student"];
    FINANCE_FEE_COLLECTION date = (FINANCE_FEE_COLLECTION)ViewData["date"];
    IList<SFSAcademy.Models.SelectCourseBatch> batch = (IList<SFSAcademy.Models.SelectCourseBatch>)ViewData["batch"];
}
<script type="text/javascript" language="javascript">
    /* This is change event for your dropdownlist */
    $(document).ready(function () {
        $(".LoaderBox5").hide();
        $(function () {
            $("#resultDiscount").dialog({
                autoOpen: false,
                draggable: true,
                resizable: true,
                width: 500,
                height: 'auto',
                dialogClass: "alert",
                cache: false,
                buttons: {
                    Cancel: function () {
                        $("#resultDiscount").dialog("close");
                    }
                },
                modal: true
            });

        });
    });

    $("#btnCreateDsicount").click(function () {
        $('#resultDiscount').dialog('open');
    });

    function CloseDiscountDialog() {
        $('#resultDiscount').dialog("close");
    }
</script>

@if (Html.Permitted_To("Update_Discount_Ajax", "Finance") || Html.CurrentUser_UserType().Equals("Admin"))
{
    <input type="button" value="Add Discount here if applicable." id="btnCreateDsicount" class="pay_fees_buttons" />
}

<div id="resultDiscount" style="display:none" class="form" title="Discount Details">
    @using (Ajax.BeginForm("Update_Discount_Ajax", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "modal-box", InsertionMode = InsertionMode.Replace, OnSuccess = "CloseDiscountDialog()" }, htmlAttributes: new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="label-field-pair label">
            <div class="label-container label">@Html.LabelFor(model => model.Discount, "Discount Amount", htmlAttributes: new { @class = "control-label col-md-2" })</div>
            <span class="necessary-field" style="font-size:small">* Required Field</span>
            <div class="text-input-bg">@Html.TextBoxFor(model => model.Discount, null, new { @class = "form-control", @id = "Discount" })</div>
            @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
        </div>
        <div class="label-field-pair label">
            <div class="label-container label">@Html.LabelFor(model => model.Discount_Desc, "Discount Description", htmlAttributes: new { @class = "control-label col-md-2" })</div>
            <span class="necessary-field" style="font-size:small">* Required Field</span>
            <div class="text-input-bg">@Html.TextBoxFor(model => model.Discount_Desc, null, new { @class = "form-control", @id = "Discount_Desc" })</div>
            @Html.ValidationMessageFor(model => model.Discount_Desc, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Add Discount" id="submit-button5" class="submit-button" />
        <div class="LoaderBox5"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>

        @Html.HiddenFor(model => model.StudentID, new { id = "studentID", Value = @student.ID })
        @Html.HiddenFor(model => model.Batch_id, new { id = "batch_id", Value = @batch.FirstOrDefault().BatchData.ID })
        @Html.HiddenFor(model => model.Date, new { id = "date", Value = @date.ID })
    }

</div>    