@model IEnumerable<SFSAcademy.FINANCE_FEE_COLLECTION>

<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript" language="javascript">
    /* This is change event for your dropdownlist */
    $(document).ready(function () {
        $(".LoaderBox2").hide();
        $('#CollDropDown').change(function () {

        /* Get the selected value of dropdownlist */
        var selectedID = $(this).val();
        $(".LoaderBox2").show();
        /* Request the partial view with .get request. */
        $.get('/Finance/_student_fees_submission/' + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#modal-box').html(data);
            /* little fade in effect */
            $('#modal-box').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox2").hide();
        });

    });
   });
</script>
<div class="label-field-pair">
    <div class="label-container">@Html.Label("COLLECTION_ID", "Select Fee Collection Date :", htmlAttributes: new { @class = "control-label col-md-2" })</div>
    <div class="text-input-bg">
        @Html.DropDownList("COLLECTION_ID", null, htmlAttributes: new { @class = "form-control", @id = "CollDropDown", @onchange = "Element.show('loader')" })
        <div class="LoaderBox2"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
        @Html.ValidationMessage("COLLECTION_ID", "", new { @class = "text-danger" })
    </div>
</div>