@model SFSAcademy.FINANCE_FEE_PARTICULAR
@{    Layout = null;}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script>

    $(document).ready(function () {
        $("#AdmForm1").hide();
        $("#StdForm2").hide();
        $("input[Value='Admission No.']").click(function () {
            var test = $(this).val();
            $("#StdForm2").hide();
            $("#AdmForm1").show();
        });
        $("input[Value='All']").click(function () {
            var test = $(this).val();
            $("#AdmForm1").hide();
            $("#StdForm2").hide();
        });
        $("input[Value='Student Category']").click(function () {
            var test = $(this).val();
            $("#AdmForm1").hide();
            $("#StdForm2").show();
        });

  });
</script>
<div id="flash_box">
    @if (ViewBag.FeeCatError != null)
    {
        <p class="flash-msg"> @ViewBag.FeeCatError </p>
    }
</div>

<div class="label-field-pair">
    <div class="label-container"> @Html.LabelFor(model => model.NAME, "Name", htmlAttributes: new { @class = "control-label col-md-2" })</div>
    <div class="input-container">
        @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        <span class="necessary-field" style="font-size:small">*</span>
        @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
    </div>
</div>
<div class="label-field-pair">
    <div class="label-container">@Html.LabelFor(model => model.DESCR, "Description", htmlAttributes: new { @class = "control-label col-md-2" })</div>
    <div class="input-container">
        @Html.EditorFor(model => model.DESCR, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DESCR, "", new { @class = "text-danger" })
    </div>
</div>
<div class="label-field-pair2">
    <div class="label-container2"><label>Create using</label></div>
    <div class="input-container2">
        @Html.RadioButton("radioName", "All", true, new { id = "id1", @onclick = "radiobuttontest('All');" }) All <br />
        @Html.RadioButton("radioName", "Admission No.", false, new { id = "id2", @onclick = "radiobuttontest('Admission No');" }) Admission No.<br />
        @Html.RadioButton("radioName", "Student Category", false, new { name = "radioName", id = "id3", @onclick = "radiobuttontest('Student Category');" }) Student Category<br />
        @Html.Hidden("FeePartOption")
    </div>
</div>
<div id="AdmForm1">
    <div class="label-field-pair">
        <div class="label-container">@Html.LabelFor(model => model.ADMSN_NO, "Admission Number (Comma Seprated)", htmlAttributes: new { @class = "control-label col-md-2" })</div>
        <div class="input-container">
            @Html.EditorFor(model => model.ADMSN_NO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ADMSN_NO, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div id="StdForm2">
    <div class="label-field-pair">
        <div class="label-container">@Html.LabelFor(model => model.STDNT_CAT_ID, "Select Category", htmlAttributes: new { @class = "control-label col-md-2" })</div>
        <div class="text-input-bg">
            @Html.DropDownList("STDNT_CAT_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.STDNT_CAT_ID, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div id="student"></div>
<div class="label-field-pair">
    <div class="label-container">@Html.LabelFor(model => model.AMT, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })</div>
    <div class="input-container">
        @Html.EditorFor(model => model.AMT, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.AMT, "", new { @class = "text-danger" })
    </div>
</div>





