@model SFSAcademy.SubmitFeeFine

@{
    STUDENT student = (STUDENT)ViewData["student"];
    FINANCE_FEE_COLLECTION date = (FINANCE_FEE_COLLECTION)ViewData["date"];
    IList<SFSAcademy.SelectCourseBatch> batch = (IList<SFSAcademy.SelectCourseBatch>)ViewData["batch"];
}
<script type="text/javascript" language="javascript">
    /* This is change event for your dropdownlist */
    $(document).ready(function () {
        $(".LoaderBox4").hide();
        $(function () {
            $("#resultFine").dialog({
                autoOpen: false,
                draggable: true,
                resizable: true,
                width: 500,
                height: 'auto',
                dialogClass: "alert",
                cache: false,
                buttons: {
                    Cancel: function () {
                        $("#resultFine").dialog("close");
                    }
                },
                modal: true
            });

        });
    });

    $("#btnCreateFine").click(function () {
        $('#resultFine').dialog('open');
    });


    function CloseFineDialog() {
        $('#resultFine').dialog("close");
    }
</script>

@if (ViewBag.due_date < System.DateTime.Now)
{
    <button id="btnCreateFine" class="pay_fees_buttons">Due date has been exceeded. Please collect fine amount.</button>
}

<div id="resultFine" style="display:none" class="form" title="Fine Details">
    @using (Ajax.BeginForm("Update_Fine_Ajax", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "modal-box", InsertionMode = InsertionMode.Replace, OnSuccess = "CloseFineDialog()" }, htmlAttributes: new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="label-field-pair label">
            <div class="label-container label">@Html.LabelFor(model => model.Fine, "Fine Amount", htmlAttributes: new { @class = "control-label col-md-2" })</div>
            <span class="necessary-field" style="font-size:small">* Required Field</span>
            <div class="text-input-bg">@Html.TextBoxFor(model => model.Fine, null, new { @class = "form-control", @id = "Fine" })</div>
            @Html.ValidationMessageFor(model => model.Fine, "", new { @class = "text-danger" })
        </div>
        <div class="label-field-pair label">
            <div class="label-container label">@Html.LabelFor(model => model.Fine_Desc, "Fine Description", htmlAttributes: new { @class = "control-label col-md-2" })</div>
            <span class="necessary-field" style="font-size:small">* Required Field</span>
            <div class="text-input-bg">@Html.TextBoxFor(model => model.Fine_Desc, null, new { @class = "form-control", @id = "Fine_Desc" })</div>
            @Html.ValidationMessageFor(model => model.Fine_Desc, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Add Fine" id="submit-button4" class="submit-button" />
        <div class="LoaderBox4"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>

        @Html.HiddenFor(model => model.StudentID, new { id = "studentID", Value = @student.ID })
        @Html.HiddenFor(model => model.Batch_id, new { id = "batch_id", Value = @batch.FirstOrDefault().BatchData.ID })
        @Html.HiddenFor(model => model.Date, new { id = "date", Value = @date.ID })
    }

</div>