@model IEnumerable<BATCH>
@{ Layout = null;}

<script>
    $(document).ready(function () {
        $("#AdmForm1").hide();
        $("input[Value='No']").click(function () {
            $("#AdmForm1").show();
        });
        $("input[Value='Yes']").click(function () {
            $("#AdmForm1").hide();
        });

    });
</script>
<div class="label-field-pair2">
    <div class="label-container"><label>Is this Master Category?</label></div>
    <div class="radio_button">
        <div class="opt"> @Html.RadioButton("radioName", "Yes", true, new { id = "id1" }) Yes </div>
        <div class="opt"> @Html.RadioButton("radioName", "No", false, new { id = "id2" }) No <br /></div>
    </div>
</div>
<div class="label-field-pair label">

</div>
<div id="AdmForm1">
    <div class="label-field-pair label">
        <div class="label-container label">@Html.Label("MSTR_CATGRY_ID", "Select Master Category", htmlAttributes: new { @class = "control-label col-md-2" })</div>
        <div class="text-input-bg">
            @Html.DropDownList("MSTR_CATGRY_ID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div id="right-side-inputs">
        <div class="category_list">
            <div class="label-container label">
                <label>
                    Select a Batch:
                    <b class="sel-list">
                        <a href="javascript:void(0);" onclick="$('input.category_select').each(function() { this.checked = true; });">All</a>
                        <a href="javascript:void(0);" onclick="$('input.category_select').each(function() { this.checked = false; });">None</a>
                    </b>
                </label>
            </div>
            <div class="categories">
                <div class="batches" style="overflow-y: scroll; height:150px; width:200px;">
                    @for (var j = 0; j < Model.Count(); j++)
                    {
                    <div class="each_batch">
                        @Html.CheckBox("[" + j + "].Select", Model.ElementAt(j).Select, new { @class = "category_select", @id = "category_select" }) <label>@Model.ElementAt(j).Full_Name </label>
                        @Html.Hidden("[" + j + "].ID", Model.ElementAt(j).ID)
                        @Html.Hidden("[" + j + "].NAME", Model.ElementAt(j).NAME)
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />