@model IEnumerable<SFSAcademy.BATCH>

@{
    ViewBag.Title = "Aggregated_Fees_Due";
}

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Fees Defaulters</h1>
    <h3>Aggregated Fee Due</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("Batch Transfer", "BatchTransfer_Index")</li>
    </ul>
</div>
<div class="bread_crumb">
    @Html.ActionLink("Finance", "Index") &raquo;
    @Html.ActionLink("Fees", "Fees_Index") &raquo;
    @Html.ActionLink("Fee Defaulters", "Fees_Defaulters_Index") &raquo;
    Aggregated Fee Due
</div>

<div id="page-yield">
    <div id="search_box_bg">
        <div id="searchbox">
            <form name="search-form" id="search-form" action="" style="display:inline;">
                @using (Html.BeginForm("ViewAll", "Student", FormMethod.Get))
                {
                    <div class="label-field-pair label">
                        @Html.Label("searchString", "Batch :", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="text-input-bg">
                            @Html.DropDownList("searchString", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <input type="submit" value="Submit" id="submit-button" class="submit-button" />
                }

                <div class="extender"></div>
            </form>
        </div>
    </div>

    <div class="students-table">
        <div id="text-input-bg">
            @{Html.RenderAction("ListDefaulterStudentsByCourse", "Finance", new { page = ViewBag.CurrentPage, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter });}

        </div>
    </div>
    <div id="students"></div>
</div>





