@model SFSAcademy.FEE_DISCOUNT

@{
    ViewBag.Title = "Edit_Fee_Discount";
}

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Edit Fee Discounts</h1>
    <h3>Finance Management</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>
<div id="page-yield">
    <div class="bread_crumb">
        @Html.ActionLink("Finance", "Index") &raquo;
        @Html.ActionLink("Fees", "Fees_Index") &raquo;
        @Html.ActionLink("Create Fees", "Master_Fees") &raquo;
        Fee Discounts
    </div>
    <div id="flash_box">
        @if (ViewBag.ErrorMessage != null)
            {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="label-field-pair">
                @Html.LabelFor(model => model.TYPE, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="necessary-field" style="font-size:small">* Required Field</span>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.TYPE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required" } })
                    @Html.ValidationMessageFor(model => model.TYPE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="label-field-pair">
                @Html.LabelFor(model => model.NAME, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="necessary-field" style="font-size:small">* Required Field</span>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required" } })
                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair">
                @Html.LabelFor(model => model.DISC, "Discount", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.DISC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DISC, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair">
                @Html.LabelFor(model => model.IS_AMT, "Is this Amount?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.IS_AMT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.IS_AMT, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="Admission_form">
                <div class="extender">
                    <input type="submit" value="► Finish" class="submit_button3" name="Commit" />
                </div>
            </div>
        </div>
    }
</div>

