@model SFSAcademy.FEE_FINE

@{
    ViewBag.Title = "Edit_Fee_Fine";
}
<script>
    $(function () {
        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd/mm/yy',
            buttonImageOnly: true
        });
    });

</script>
<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Edit Fee Fine</h1>
    <h3>Finance Management</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div id="page-yield">
    <div class="bread_crumb">
        @Html.ActionLink("Finance", "Index") &raquo;
        @Html.ActionLink("Fees", "Fees_Index") &raquo;
        @Html.ActionLink("Create Fees", "Master_Fees") &raquo;
        Fee Fine
    </div>
    <div id="flash_box">
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="label-field-pair label">
                @Html.LabelFor(model => model.TYPE, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="necessary-field" style="font-size:small">* Required Field</span>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.TYPE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required" } })
                    @Html.ValidationMessageFor(model => model.TYPE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="label-field-pair label">
                @Html.LabelFor(model => model.NAME, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="necessary-field" style="font-size:small">* Required Field</span>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required" } })
                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair label">
                @Html.LabelFor(model => model.FINE_DATE, "Fine Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="necessary-field" style="font-size:small">* Required Field</span>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.FINE_DATE, new { htmlAttributes = new { @class = "m-wrap  datepicker", @id = "datepicker", required = "required" } })
                    @Html.ValidationMessageFor(model => model.FINE_DATE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair label">
                @Html.LabelFor(model => model.DESCR, "Fine Discription", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.DESCR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DESCR, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair label">
                @Html.LabelFor(model => model.FINE, "Fine", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.FINE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FINE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair label">
                @Html.LabelFor(model => model.IS_AMT, "Is this Amount?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.IS_AMT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.IS_AMT, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="Admission_form">
                <div class="extender">
                    <input type="submit" value="► Save" class="submit_button3" name="Commit" />
                </div>
            </div>
        </div>
    }
</div>

