@using System.Data;
@using System.Data.Entity;
@{
    SFSAcademyEntities db = new SFSAcademyEntities();
    ActiveOrArchiveEmployee employee = (ActiveOrArchiveEmployee)ViewData["employee"];
    IEnumerable<MONTHLY_PAYSLIP> monthly_payslips = (IEnumerable<MONTHLY_PAYSLIP>)ViewData["monthly_payslips"];
    IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY> individual_payslips = (IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY>)ViewData["individual_payslips"];
    CalulatedSalary salary = (CalulatedSalary)ViewData["salary"];
    DateTime salary_date = (DateTime)ViewData["salary_date"];
}
@{
    ViewBag.Title = "Employee_Payslip_Monthly_Report";
}
@{ string FullName = monthly_payslips.FirstOrDefault().Active_Or_Archived_Employee().ArchivedEmployee != null ? monthly_payslips.FirstOrDefault().Active_Or_Archived_Employee().ArchivedEmployee.Full_Name : monthly_payslips.FirstOrDefault().Active_Or_Archived_Employee().Employee.Full_Name;}
<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Employee Salary Report</h1>
    <h3>Payslip For @FullName on @salary_date.ToShortDateString()</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="page-yield">
    <ul class="item-list">
        <li class="heading">Payslip Generated for @FullName</li>
    </ul>
    @{ int i = 0; }
    <ul class="item-list">
        <li class="heading">Salary:</li>
        @foreach (var mp in monthly_payslips)
        {
            string cycle = "listeven";

            if (i % 2 == 0)
            {
                cycle = "listodd";
            }
            if (mp.PAYROLL_CATEGORY.IS_DED == true)
            {
                <li class="@cycle">
                    <div class="item-name">@mp.PAYROLL_CATEGORY.NAME</div>
                    <div class="item-edit"><span class="currency-type">@ViewBag.currency_type</span> @mp.AMT</div>
                </li>
                i += 1;
            }

        }
        @if (individual_payslips != null && individual_payslips.Count() != 0)
        {
            foreach (var pc in individual_payslips)
            {
                string cycle = "listeven";

                if (i % 2 == 0)
                {
                    cycle = "listodd";
                }
                if (pc.IS_DED == false)
                {
                    <li class="@cycle">
                        <div class="item-name">@pc.NAME</div>
                        <div class="item-edit"><span class="currency-type">@ViewBag.currency_type</span> @pc.AMT</div>
                    </li>
                    i += 1;
                }
            }

        }
        <li class="listodd">
            <div class="item-name"><b>Total Salary</b></div>
            <div class="item-edit"><b><span class="currency-type">@ViewBag.currency_type</span> @salary.net_non_deductionable_amount</b></div>
        </li>
        @{i += 1;}
    </ul>

    <ul class="item-list">
        <li class="heading">Deductions:</li>
        @foreach (var mp in monthly_payslips)
        {
            string cycle = "listeven";

            if (i % 2 == 0)
            {
                cycle = "listodd";
            }
            if (mp.PAYROLL_CATEGORY.IS_DED != false)
            {
                <li class="@cycle">
                    <div class="item-name">@mp.PAYROLL_CATEGORY.NAME</div>
                    <div class="item-edit"><span class="currency-type">@ViewBag.currency_type</span> @mp.AMT</div>
                </li>
                i += 1;
            }
        }
        @if (individual_payslips != null && individual_payslips.Count() != 0)
        {
            foreach (var pc in individual_payslips)
            {
                string cycle = "listeven";

                if (i % 2 == 0)
                {
                    cycle = "listodd";
                }
                if (pc.IS_DED == true)
                {
                    <li class="@cycle">
                        <div class="item-name">@pc.NAME</div>
                        <div class="item-edit"><span class="currency-type">@ViewBag.currency_type</span> @pc.AMT</div>
                    </li>
                    i += 1;
                }
            }
        }
        <li class="listeven">
            <div class="item-name"><b>Total Deductions</b></div>
            <div class="item-edit"><span class="currency-type"><b>@ViewBag.currency_type</b></span> <b>@salary.net_deductionable_amount</b></div>
        </li>
    </ul>

    <ul class="item-list">
        <li class="heading">Total:</li>
        <li class="listodd">
            <div class="item-name"><b>Net Salary</b></div>
            <div class="item-edit"><span class="currency-type"><b>@ViewBag.currency_type</b></span><b> @salary.net_amount</b></div>
        </li>
    </ul>
</div>