@{
    ViewBag.Title = "Expense_List";
}
<script>
    $(function () {
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd/mm/yy',
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            showAnim: 'slideDown'
        });
    });

</script>
<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Expense</h1>
    <h3>Expenses List</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Finance", "Index") &raquo;
    @Html.ActionLink("Transactions", "Transactions") &raquo;
    @Html.ActionLink("Expense", "Expense_Create") &raquo;
    Expenses List
</div>
<div id="page-yield">
    <div class="box">
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }
        @if (ViewData["Warn_Notice"] != null)
        {
            <p class="flash-msg"> @ViewData["Warn_Notice"].ToString() </p>
        }
        @using (Html.BeginForm("Expense_List_Update", "Finance", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div id="create_user_form">
                <div class="label-field-pair label">
                    <label>Select Start Date:</label>
                    <div class="text-field-bg">
                        @Html.Editor("START_TRAN_DATE", new { htmlAttributes = new { @class = "m -wrap  datepicker" } })
                    </div>
                </div>
                <div class="label-field-pair label">
                    <label>Select End Date:</label>
                    <div class="text-field-bg">
                        @Html.Editor("END_TRAN_DATE", new { htmlAttributes = new { @class = "m -wrap  datepicker" } })
                    </div>
                </div>
                <input type="submit" value="► Ok" class="submit_button" />
            </div>
        }
        <div id="expense_list">  </div>
    </div>
</div>

