@model SFSAcademy.FINANCE_FEE_COLLECTION

@{
    ViewBag.Title = "Fees_Submission_Batch";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript" language="javascript">
    /* This is change event for your dropdownlist */
    $(document.forms[0]).ready(function () {
        $(".LoaderBox1").hide();
        $('#BatchDropDown').change(function () {

        /* Get the selected value of dropdownlist */
            var selectedID = $(this).val();
            $(".LoaderBox1").show();
        /* Request the partial view with .get request. */
        $.get('/Finance/_fees_collection_dates/' + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#fees_collection_dates').html(data);
            /* little fade in effect */
            $('#fees_collection_dates').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox1").hide();
        });
        
    });
   });
</script>

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Fees Submission</h1>
    <h3>Student Fees Submission</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Finance", "Index") &raquo;
    @Html.ActionLink("Fees", "Fees_Index") &raquo;
    @Html.ActionLink("Fees Submission", "Fees_Submission_Index") &raquo;
    Fee Submission Batch
</div>
<div id="flash_box">
    @if (ViewBag.FeeCollectionMessage != null)
    {
        <p class="flash-msg"> @ViewBag.FeeCollectionMessage </p>
    }
</div>
<div id="page-yield">
    <div id="batchs1">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="label-field-pair">
                <div class="label-container">@Html.Label("BTCH_ID", "Select A Batch :", htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="text-input-bg">
                    @Html.DropDownList("BTCH_ID", null, htmlAttributes: new { @class = "form-control", @id = "BatchDropDown"})
                    <div class="LoaderBox1"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
                        @Html.ValidationMessage("BTCH_ID", "", new { @class = "text-danger" })
                    </div>
            </div>
                            <!-- Place where you will insert your partial -->
            <div id="fees_collection_dates" style="display:none;"> </div>            
        }
        <div id="student"> </div>
        <div id="modal-box" style="display:none;"></div>
    </div>
    <div class="extender"></div>
</div>
