@{
    ViewBag.Title = "Fees_Particulars_New";
}

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Fees Collection</h1>
    <h3>Create Particular For Master Fee</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("Fees Categories", "Fee_Category_View")</li>
    </ul>
</div>
<div class="bread_crumb">
    @Html.ActionLink("Finance", "Index") &raquo;
    @Html.ActionLink("Fees", "Fees_Index") &raquo;
    @Html.ActionLink("Create Fees", "Master_Fees") &raquo;
    Fees Particulars
</div>
<div id="flash_box">
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="flash-msg"> @ViewBag.ErrorMessage </p>
    }
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
</div>
<div id="page-yield">
    <div id="grading-levels-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div id="form-errors"></div>
            <div id="right-side-inputs">
                <div class="label-field-pair label">
                    <div class="label-container label">@Html.Label("MASTER_CATGEORY_ID_LABLE", "Select Master Category", htmlAttributes: new { @class = "control-label col-md-2" })</div>
                    <div class="text-input-bg">
                        @Html.DropDownList("MASTER_CATGEORY_ID", null, htmlAttributes: new { @class = "form-control", @id = "myDropDown" })
                        <div class="LoaderBox2"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
                        @Html.ValidationMessage("MASTER_CATGEORY_ID", "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Place where you will insert your partial -->
                <div id="partialPlaceHolder" style="display:none;"> </div>
            </div>


            <div id="left-side-inputs">
                @{Html.RenderAction("_Fees_Particulars_Create", "Finance");}
            </div>
            <input type="submit" value="Create" class="submit_button" formaction='@Url.Action("_Fees_Particulars_Create", "Finance")' />
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryunobtrusive") @*For unobtrusive-ajax*@
    @Scripts.Render("~/bundles/jqueryval") @*For validate and validate-unobtrusive*@

    <script type="text/javascript" language="javascript">
        $(document.forms[0]).ready(function () {
            $(".LoaderBox2").hide();
            $('#myDropDown').change(function () {
                var selectedID = $(this).val();
                $(".LoaderBox2").show();
                $.get('/Finance/Select_Batch_Particular/' + selectedID, function (data) {
                    $('#partialPlaceHolder').html(data);
                    $('#partialPlaceHolder').fadeIn('fast');
                }).success(function (status) {
                    $(".LoaderBox2").hide();
                });

            });
        });
    </script>
}
