@model SFSAcademy.FINANCE_FEE_COLLECTION

@{
    ViewBag.Title = "Fees_Structure_Dates";
}
@{
    STUDENT student = (STUDENT)ViewData["student"];
    IList<SFSAcademy.SelectCourseBatch> batch = (IList<SFSAcademy.SelectCourseBatch>)ViewData["batch"];
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript" language="javascript">
    /* This is change event for your dropdownlist */
    $(document).ready(function () {
        $(".LoaderBox2").hide();
        $('#CollDropDown').change(function () {

        /* Get the selected value of dropdownlist */
            var selectedID = $(this).val();
            var SelectedStd = $('#studentID12').val();
            var SelectedBatch = $('#batch_id12').val();
            /* Request the partial view with .get request. */
            $(".LoaderBox2").show();
        $.get('/Finance/Fees_Structure_For_Student?id=' + selectedID + "&student_id=" + SelectedStd + "&batch_id=" + SelectedBatch, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#modal-box').html(data);
            /* little fade in effect */
            $('#modal-box').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox2").hide();
        });

    });
   });
</script>

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Fees Submission</h1>
    <h3>Student Fees Submission</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Finance", "Index") &raquo;
    @Html.ActionLink("Fees", "Fees_Index") &raquo;
    @Html.ActionLink("Fees Structure", "Fees_Student_Structure_Search") &raquo;
    @student.FIRST_NAME @student.MID_NAME @student.LAST_NAME
</div>
<div id="flash_box">
    @if (ViewBag.FeeCollectionMessage != null)
    {
        <p class="flash-msg"> @ViewBag.FeeCollectionMessage </p>
    }
</div>
<div id="page-yield">
    <div id="batchs1">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="label-field-pair label">
                <div class="label-container label">@Html.Label("COLL_ID", "Select Fee Collection Date :", htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="text-input-bg">
                    @Html.DropDownList("COLL_ID", null, htmlAttributes: new { @class = "form-control", @id = "CollDropDown" })
                    <div class="LoaderBox2"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
                    @Html.ValidationMessage("COLL_ID", "", new { @class = "text-danger" })
                </div>
            </div>
                            <!-- Place where you will insert your partial -->
            <div id="fees_collection_dates" style="display:none;"> </div>
        }
        <div id="student"> </div>
        <div id="modal-box" style="display:none;"></div>
    </div>
    <div class="extender"></div>
</div>

<input type="hidden" value="@student.ID" id="studentID12" name="studentID12" />
<input type="hidden" value="@batch.FirstOrDefault().BatchData.ID" id="batch_id12" name="batch_id12" />
