@model IEnumerable<SFSAcademy.STUDENT>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Fees_Student_Search";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript" language="javascript">
    /* This is change event for your dropdownlist */
    $(document.forms[0]).ready(function () {
        $(".LoaderBox1").hide();
        function Contains(text_one, text_two) {
            if (text_one == text_two)
            return false;
        }
        $("#STUDENT_ID1").keyup(function () {
            var searchText = $("#STUDENT_ID1").val().toLowerCase();
            $(".LoaderBox1").show();
            @foreach(var item in Model)
            {
                <text>
            if (!Contains($(@Html.Raw(JsonConvert.SerializeObject(item.ADMSN_NO))).text().toLowerCase(), searchText)) {
                var selectedID = $('#STUDENT_ID1').val();
                /* Request the partial view with .get request. */
                $.get('/Finance/fees_student_dates/' + selectedID, function (data) {
                    /* data is the pure html returned from action method, load it to your page */
                    $('#fees_student_dates').html(data);
                    /* little fade in effect */
                    $('#fees_student_dates').fadeIn('fast');
                }).success(function (status) {
                    $(".LoaderBox1").hide();
                });
                return false;
            }
            </text>
            }

        });

        });
</script>

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Fees Submission</h1>
    <h3>Student Fees Submission</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width:"100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Finance", "Index") &raquo;
    @Html.ActionLink("Fees", "Fees_Index") &raquo;
    @Html.ActionLink("Fees Submission", "Fees_Submission_Index") &raquo;
    Fee Submission Student
</div>
<div id="flash_box">
    @if (ViewBag.FeeCollectionMessage != null)
    {
        <p class="flash-msg"> @ViewBag.FeeCollectionMessage </p>
    }
</div>
<div id="page-yield">
    <div id="search_box_bg">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="label-field-pair label">
                <div class="label-container label">@Html.Label("STUDENT_ID1", "Enter Admission Number:", htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="search_textbox">
                    @Html.TextBox("STUDENT_ID1", null, new { @class = "form-control", @id = "STUDENT_ID1" })
                    <div class="LoaderBox1"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
                    @Html.ValidationMessage("STUDENT_ID1", "", new { @class = "text-danger" })
                </div>
            </div>
                            <!-- Place where you will insert your partial -->
            <div id="fees_student_dates" style="display:none;"> </div>
        }
        <div class="extender"></div>
        <div id="modal-box" style="display:none;"></div>
    </div>
</div>
