@model IEnumerable<SFSAcademy.FINANCE_FEE>

@{
    ViewBag.Title = "Fees_Index";
}

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Fees</h1>
    <h3>Manage Fees</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>

<div id="page-yield">
    <div class="box">
        <div class="link-box">
            <div class="link-heading">@Html.ActionLink("Create Fees", "Master_Fees")</div>
            <div class="link-descr">Creates Master Fees And Additional Fees</div>
        </div>
        <div class="link-box">
            <div class="link-heading">@Html.ActionLink("Schedule Fees Collection", "Fee_Collection")</div>
            <div class="link-descr">Creates New Fee Collecting Dates</div>
        </div>
        <div class="link-box">
            <div class="link-heading">@Html.ActionLink("Collect the Fees", "Fees_Submission_Index")</div>
            <div class="link-descr">Fees Submission</div>
        </div>
        <div class="link-box">
            <div class="link-heading">@Html.ActionLink("Fees Structure", "Fees_Student_Structure_Search")</div>
            <div class="link-descr">Displays Fees Structure For Student</div>
        </div>
        <div class="link-box">
            <div class="link-heading">@Html.ActionLink("Fees Defaulters", "Fees_Defaulters")</div>
            <div class="link-descr">Students With Fees Dues</div>
        </div>
        <!-- Instant Fees -->
    </div>
</div>