@model IEnumerable<SFSAcademy.Models.FinanceTransaction>
@{
    Layout = null;
}
<link rel="stylesheet" id="stylesheet" type="text/css" href="~/Content/stylesheets/finance/income_details_pdf.css">

<div id="page-yield">
    <div class="hor_line"></div>
    <h2>Finance Income Report</h2>
    <div class="hor_line"></div>

    <div class="extender"> </div>
    <div class="report">
        @{ DateTime FromDate = @Convert.ToDateTime(ViewBag.START_TRAN_DATE); DateTime ToDate = @Convert.ToDateTime(ViewBag.END_TRAN_DATE);}
        <div id="main_info">
            <h4> From @FromDate.ToShortDateString() to @ToDate.ToShortDateString()</h4>
        </div>
        <div id="pdf-info">
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header"><td class="col-pdf">Sl. no.</td><td class="col-pdf"> Name </td><td class="col-pdf"> Description </td><td class="col-pdf"> Receipt No </td><td class="col-pdf">Amount</td><td class="col-pdf"> Transaction Date</td></tr>
                @{ int index = 1; decimal total = 0;  decimal income_total = 0; decimal expense_total = 0;}
                @foreach (var item in Model)
                {
                    decimal tran_amount = item.FinanceTransactionData.MSTRTRAN_ID == null && item.TransactionCategoryData.IS_INCM == "Y" ? (decimal)item.FinanceTransactionData.AMT : -1 * (decimal)item.FinanceTransactionData.AMT;
                    if (item.FinanceTransactionData.MSTRTRAN_ID == null && item.TransactionCategoryData.IS_INCM == "Y")
                    {
                        income_total += (decimal)item.FinanceTransactionData.AMT;
                    }
                    else { expense_total += (decimal)item.FinanceTransactionData.AMT; }
                    string selectedRow = "even";
                    if (index % 2 == 0)
                    {
                        selectedRow = "odd";
                    }
                    <tr class="@selectedRow">
                        <td class="col-pdf">@index</td>
                        <td class="col-pdf">@item.FinanceTransactionData.TIL</td>
                        <td class="col-pdf">@item.FinanceTransactionData.DESCR</td>
                        <td class="col-pdf">@item.FinanceTransactionData.RCPT_NO</td>
                        <td class="col-pdf">@tran_amount</td>
                        <td class="col-pdf">@item.FinanceTransactionData.TRAN_DATE.Value.ToShortDateString()</td>
                    </tr>
                    index += 1;
                }
                @{ total = income_total - expense_total; string selectedRow2 = "even";}
                @if (index % 2 == 0)
                {
                selectedRow2 = "odd";
                }
                <tr class="@selectedRow2">
                    <td class="col-pdf"></td>
                    <td class="col-pdf" colspan="3">Grand Total</td>
                    <td class="col-pdf" colspan="2">@total</td>
                </tr>
            </table>
        </div>
    </div>
</div>

