@{
    ViewBag.Title = "Income_List";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script>
    $(function () {
        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd-mm-yy',
            buttonImageOnly: true
        });
        $("#datepicker2").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd-mm-yy',
            buttonImageOnly: true
        });
    });

</script>
<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Incomes</h1>
    <h3>Income List</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Finance", "Index") &raquo;
    @Html.ActionLink("Transactions", "Transactions") &raquo;
    @Html.ActionLink("Income", "Income_Create") &raquo;
    Income List
</div>
<div id="page-yield">
    <div class="box">
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }
        @if (ViewData["Warn_Notice"] != null)
        {
            <p class="flash-msg"> @ViewData["Warn_Notice"].ToString() </p>
        }
        @using (Html.BeginForm("Income_List_Update", "Finance", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div id="create_user_form">
                <div class="label-field-pair">
                    <label>Select Start Date:</label>
                    <div class="text-field-bg">
                        @Html.Editor("START_TRAN_DATE", new { htmlAttributes = new { @class = "m -wrap  datepicker", @id = "datepicker" } })
                    </div>
                </div>
                <div class="label-field-pair">
                    <label>Select End Date:</label>
                    <div class="text-field-bg">
                        @Html.Editor("END_TRAN_DATE", new { htmlAttributes = new { @class = "m -wrap  datepicker", @id = "datepicker2" } })
                    </div>
                </div>
                <input type="submit" value="► Ok" class="submit_button" />
            </div>
        }
        <div id="expense_list">  </div>
    </div>
</div>

