@model SFSAcademy.FINANCE_FEE_CATGEORY

@{
    ViewBag.Title = "Master_Category_Create";
}

<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Finance Management</h1>
    <h3>Master Fees Category</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>

<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("View Fee Category", "Fee_Category_View")</li>
    </ul>
</div>
<div class="bread_crumb">
    @Html.ActionLink("Finance", "Index") &raquo;
    @Html.ActionLink("Fees", "Fees_Index") &raquo;
    @Html.ActionLink("Create Fees", "Master_Fees") &raquo;
    Fees Category
</div>
<div id="flash_box">
    @if (Session["FeeCatErrorMessage"] != null)
            {
        <p class="flash-msg"> @Session["FeeCatErrorMessage"] </p>
    }
</div>
<div id="page-yield">
    <div id="grading-levels-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="form-errors"></div>
            <div class="label-field-pair">
                <div class="label-container">@Html.LabelFor(model => model.NAME, "Name", htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="input-container">
                    @Html.Editor("NAME", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    <span class="necessary-field" style="font-size:small">* Required Field</span>
                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair">
                <div class="label-container">@Html.LabelFor(model => model.DESCR, "Description", htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="input-container">
                    @Html.Editor("DESCR", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DESCR, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="right-side-inputs">
                @{Html.RenderAction("_Master_category_Create_Form", "Finance");}
            </div>
            <br />
            <input type="submit" value="►Save" class="submit_button" formaction='@Url.Action("_Master_category_Create_Form", "Finance")' />
        }

    </div>
</div>
