@using SFSAcademy.Models
@{
    ViewBag.Title = "Report_Compare";
}
@{
    IEnumerable<SFSAcademy.Models.CategoryTransactions> other_transaction_categories = (IEnumerable<SFSAcademy.Models.CategoryTransactions>)ViewData["other_transaction_categories"];
    IEnumerable<SFSAcademy.Models.FinanceTransaction> transactions = (IEnumerable<SFSAcademy.Models.FinanceTransaction>)ViewData["transactions"];
    IEnumerable<SFSAcademy.Models.CategoryTransactions> other_transaction_categories2 = (IEnumerable<SFSAcademy.Models.CategoryTransactions>)ViewData["other_transaction_categories2"];
    IEnumerable<SFSAcademy.Models.FinanceTransaction> transactions2 = (IEnumerable<SFSAcademy.Models.FinanceTransaction>)ViewData["transactions2"];
}
<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Transactions</h1>
    <h3>Transaction_Comparision</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>
@if (ViewBag.ErrorMessage != null)
            {
    <p class="flash-msg"> @ViewBag.ErrorMessage </p>
}
<br />
@if (!(ViewBag.salary == 0 && ViewBag.donations_total == 0 && ViewBag.transactions_fees == 0 && other_transaction_categories == null))
{
    <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  @ViewBag.graph
}
<br />
<br />
<br />
@{ DateTime FromDate = @Convert.ToDateTime(ViewBag.START_TRAN_DATE); DateTime ToDate = @Convert.ToDateTime(ViewBag.END_TRAN_DATE);}
<h4>Report for the period from @FromDate.ToShortDateString() to @ToDate.ToShortDateString()</h4>
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
        <td>Sl. No.</td>
        <td>Particulars</td>
        <td>Expenses</td>
        <td>Income</td>
    </tr>
    <tr class="tr-blank"></tr>
    @{int index = 0; string selectedRow = ""; decimal income_total = 0; decimal expenses_total = 0;}
    @if (ViewBag.hr != null)
    {
        index += 1;
        <tr class="tr-odd">
            <td class="col-1">@index</td>
            @if (ViewBag.salary != 0)
                {
                <td class="col-2">@Html.ActionLink("Salary Account", "Salary_Department", new { START_TRAN_DATE = ViewBag.START_TRAN_DATE, END_TRAN_DATE = ViewBag.END_TRAN_DATE })</td>
            }
            else
            {
                <td class="col-2">Salary Account</td>
            }
            <td class="col-3" align="right">@ViewBag.salary</td>
            <td> </td>
        </tr>
    }
    @{index += 1;}
    <tr class="tr-even">
        <td class="col-1">@index</td>
        @if (ViewBag.donations_total != 0)
            {
            <td class="col-2">@Html.ActionLink("Donations", "Donations_Report", new { START_TRAN_DATE = ViewBag.START_TRAN_DATE, END_TRAN_DATE = ViewBag.END_TRAN_DATE })</td>
        }
        else
        {
            <td class="col-2">Donations</td>
        }
        <td></td>
        <td class="col-3" align="right">@ViewBag.donations_total</td>

    </tr>
    @{index += 1;}
    <tr class="tr-odd">
        <td class="col-1">@index</td>
        @if (ViewBag.transactions_fees != 0)
            {
            <td class="col-2">@Html.ActionLink("Fees Account", "Fees_Report", new { START_TRAN_DATE = ViewBag.START_TRAN_DATE, END_TRAN_DATE = ViewBag.END_TRAN_DATE })</td>
        }
        else
        {
            <td class="col-2">Fees Account</td>
        }
        <td></td>
        <td class="col-3" align="right">@ViewBag.transactions_fees</td>

    </tr>
    @foreach (var item in other_transaction_categories)
    {
        index += 1;
        selectedRow = "tr-even";
        decimal income = 0; decimal expense = 0;
        if (item.TransactionCategoryData.IS_INCM == "Y") { income = (decimal)item.TRANS_AMNT; }
        if (item.TransactionCategoryData.IS_INCM == "N") { expense = (decimal)item.TRANS_AMNT; }
        if (index % 2 == 0)
        {
            selectedRow = "tr-odd";
        }
        <tr class="@selectedRow">
            <td class="col-1">@index</td>
            <td class="col-2">@Html.ActionLink(item.TransactionCategoryData.NAME, "Income_Details", new { START_TRAN_DATE = ViewBag.START_TRAN_DATE, END_TRAN_DATE = ViewBag.END_TRAN_DATE, id = item.TransactionCategoryData.ID })</td>
            @if (expense != 0)
                {
                <td class="col-3" align="right">@expense</td>
            }
            else
            {
                <td class="col-3" align="right"></td>
            }
            @if (income != 0)
                {
                <td class="col-3" align="right">@income</td>
            }
            else
            {
                <td class="col-3" align="right"> </td>
            }
        </tr>
        income_total += income;
        expenses_total += expense;
    }
    @{expenses_total += (decimal)ViewBag.salary; income_total += (decimal)ViewBag.donations_total; income_total += (decimal)ViewBag.transactions_fees;}
    <tr class="tr-blank"></tr>
    <tr class="tr-even">
        <td class="col-1"> </td>
        <td class="col-2">Total</td>
        <td class="col-3" align="right">@expenses_total</td>
        <td class="col-3" align="right">@income_total</td>

    </tr>
    @{ decimal grand_total = income_total - expenses_total;}
    @{ decimal grand_total_positive = grand_total * -1; }
    <tr class="tr-blank"></tr>
    <tr class="tr-odd">
        <td class="col-1"> </td>
        <td class="col-2">Grand Total</td>
        @if (grand_total >= 0)
            {
            <td></td>
                <td class="col-3" align="right">@grand_total.ToString("0.00")</td>
        }
        else
        {
            <td class="col-3" align="right">@grand_total_positive.ToString("0.00")</td>
                <td></td>
        }

    </tr>
</table>
<br />
@{ DateTime FromDate2 = @Convert.ToDateTime(ViewBag.START_TRAN_DATE2); DateTime ToDate2 = @Convert.ToDateTime(ViewBag.END_TRAN_DATE2);}
<h4>Report for the period from @FromDate2.ToShortDateString() to @ToDate2.ToShortDateString()</h4>
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
        <td>Sl. No.</td>
        <td>Particulars</td>
        <td>Expenses</td>
        <td>Income</td>
    </tr>
    <tr class="tr-blank"></tr>
    @{int index2 = 0; string selectedRow2 = ""; decimal income_total2 = 0; decimal expenses_total2 = 0;}
    @if (ViewBag.hr2 != null)
    {
        index2 += 1;
        <tr class="tr-odd">
            <td class="col-1">@index2</td>
            @if (ViewBag.salary2 != 0)
                {
                <td class="col-2">@Html.ActionLink("Salary Account", "Salary_Department", new { START_TRAN_DATE = ViewBag.START_TRAN_DATE2, END_TRAN_DATE = ViewBag.END_TRAN_DATE2 })</td>
            }
            else
            {
                <td class="col-2">Salary Account</td>
            }
            <td class="col-3" align="right">@ViewBag.salary2</td>
            <td> </td>
        </tr>
    }
    @{index2 += 1;}
    <tr class="tr-even">
        <td class="col-1">@index2</td>
        @if (ViewBag.donations_total2 != 0)
            {
            <td class="col-2">@Html.ActionLink("Donations", "Donations_Report", new { START_TRAN_DATE = ViewBag.START_TRAN_DATE2, END_TRAN_DATE = ViewBag.END_TRAN_DATE2 })</td>
        }
        else
        {
            <td class="col-2">Donations</td>
        }
        <td></td>
        <td class="col-3" align="right">@ViewBag.donations_total2</td>

    </tr>
    @{index2 += 1;}
    <tr class="tr-odd">
        <td class="col-1">@index2</td>
        @if (ViewBag.transactions_fees2 != 0)
            {
            <td class="col-2">@Html.ActionLink("Fees Account", "Fees_Report", new { START_TRAN_DATE = ViewBag.START_TRAN_DATE2, END_TRAN_DATE = ViewBag.END_TRAN_DATE2 })</td>
        }
        else
        {
            <td class="col-2">Fees Account</td>
        }
        <td></td>
        <td class="col-3" align="right">@ViewBag.transactions_fees2</td>

    </tr>
    @foreach (var item2 in other_transaction_categories2)
    {
        index2 += 1;
        selectedRow2 = "tr-even";
        decimal income = 0; decimal expense = 0;
        if (item2.TransactionCategoryData.IS_INCM == "Y") { income = (decimal)item2.TRANS_AMNT; }
        if (item2.TransactionCategoryData.IS_INCM == "N") { expense = (decimal)item2.TRANS_AMNT; }
        if (index2 % 2 == 0)
        {
            selectedRow2 = "tr-odd";
        }
        <tr class="@selectedRow2">
            <td class="col-1">@index2</td>
            <td class="col-2">@Html.ActionLink(item2.TransactionCategoryData.NAME, "Income_Details", new { START_TRAN_DATE = ViewBag.START_TRAN_DATE2, END_TRAN_DATE = ViewBag.END_TRAN_DATE2, id = item2.TransactionCategoryData.ID })</td>
            @if (expense != 0)
                {
                <td class="col-3" align="right">@expense</td>
            }
            else
            {
                <td class="col-3" align="right"></td>
            }
            @if (income != 0)
                {
                <td class="col-3" align="right">@income</td>
            }
            else
            {
                <td class="col-3" align="right"> </td>
            }
        </tr>
        income_total2 += income;
        expenses_total2 += expense;
    }
    @{expenses_total2 += (decimal)ViewBag.salary2; income_total2 += (decimal)ViewBag.donations_total2; income_total2 += (decimal)ViewBag.transactions_fees2;}
    <tr class="tr-blank"></tr>
    <tr class="tr-even">
        <td class="col-1"> </td>
        <td class="col-2">Total</td>
        <td class="col-3" align="right">@expenses_total2</td>
        <td class="col-3" align="right">@income_total2</td>

    </tr>
    @{ decimal grand_total2 = income_total2 - expenses_total2;}
    @{ decimal grand_total_positive2 = grand_total2 * -1; }
    <tr class="tr-blank"></tr>
    <tr class="tr-odd">
        <td class="col-1"> </td>
        <td class="col-2">Grand Total</td>
        @if (grand_total2 >= 0)
            {
            <td></td>
            <td class="col-3" align="right">@grand_total2.ToString("0.00")</td>
        }
        else
        {
            <td class="col-3" align="right">@grand_total_positive2.ToString("0.00")</td>
            <td></td>
        }

    </tr>
</table>
<br />
<br />

