@model IEnumerable<SFSAcademy.FINANCE_TRANSACTION>

@{
    Layout = null;
}
@{
    IEnumerable<SFSAcademy.Models.FeeTransaction> paid_fees = (IEnumerable<SFSAcademy.Models.FeeTransaction>)ViewData["paid_fees"];
    FINANCE_FEE_CATGEORY fee_category = (FINANCE_FEE_CATGEORY)ViewData["fee_category"];
    STUDENT student = (STUDENT)ViewData["student"];
    IEnumerable<FINANCE_FEE> financefee = (IEnumerable<FINANCE_FEE>)ViewData["financefee"];
    FINANCE_FEE_COLLECTION date = (FINANCE_FEE_COLLECTION)ViewData["date"];
    IList<SFSAcademy.Models.SelectCourseBatch> batch = (IList<SFSAcademy.Models.SelectCourseBatch>)ViewData["batch"];
    IEnumerable<FINANCE_FEE_PARTICULAR> fee_particulars = (IEnumerable<FINANCE_FEE_PARTICULAR>)ViewData["fee_particulars"];
    IEnumerable<FEE_DISCOUNT> batch_discounts = (IEnumerable<FEE_DISCOUNT>)ViewData["batch_discounts"];
    IEnumerable<FEE_DISCOUNT> student_discounts = (IEnumerable<FEE_DISCOUNT>)ViewData["student_discounts"];
    IEnumerable<FEE_DISCOUNT> category_discounts = (IEnumerable<FEE_DISCOUNT>)ViewData["category_discounts"];
    IEnumerable<FEE_FINE> batch_fine = (IEnumerable<FEE_FINE>)ViewData["batch_fine"];
    IEnumerable<FEE_FINE> student_fine = (IEnumerable<FEE_FINE>)ViewData["student_fine"];
    IEnumerable<FEE_FINE> category_fine = (IEnumerable<FEE_FINE>)ViewData["category_fine"];
}
<link rel="stylesheet" id="stylesheet" type="text/css" href="~/Content/stylesheets/finance/student_fee_receipt_pdf.css">

<div id="page-yield">
    <div class="hor_line"></div>
    @if (financefee.FirstOrDefault().IS_PD == "Y")
    {
        <h2>S. F. Square Academy - Fee Reciept</h2>

    }
    else
    {
        <h2>S. F. Square Academy - Partial Payment Receipt</h2>
    }
    <div class="hor_line"></div>

    <div class="extender"> </div>
    <div class="report">
        @{ decimal total_fees = 0;}
        <div id="main_info">
            <h4> Name: @string.Concat(student.FIRST_NAME, " ", student.MID_NAME, " ", student.LAST_NAME)</h4>
            <h4> Admission Number: @student.ADMSN_NO</h4>
        </div>
        <div id="pdf-info">
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header">
                    <td class="col-pdf1">SL No.</td>
                    <td class="col-pdf2">Particulars</td>
                    <td class="col-pdf3">Receipt No</td>
                    <td class="col-pdf4"> Amount</td>
                </tr>
                @{int i = 1; string selectedRow = "even";}
                @foreach (var item in fee_particulars)
                {
                    selectedRow = "even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "odd";
                    }
                    <tr class="@selectedRow">
                        <td class="col-pdf1">@i</td>
                        <td class="col-pdf2">@item.NAME</td>
                        <td class="col-pdf3"></td>
                        <td class="col-pdf4">@item.AMT</td>
                    </tr>
                    total_fees += (decimal)item.AMT;
                    i = i + 1;
                }
                @if (@ViewBag.total_discount != 0)
                {
                    selectedRow = "even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "odd";
                    }
                    <tr class="tr-blank"></tr>
                    <tr class="tr-blank"></tr>
                        <tr class="@selectedRow" cellpadding="1" cellspacing="1">
                            <td class="col-1"></td>
                            <td class="col-1" colspan="4"><span class="themed_text">Discounts</span></td>
                        </tr>
                    foreach (var item in batch_discounts)
                    {
                        string discount_text = item.IS_AMT == "Y" ? item.NAME : string.Concat(item.NAME, ": ", item.DISC, "%");
                        decimal discount = item.IS_AMT == "Y" ? (decimal)item.DISC : ViewBag.total_payable * (decimal)item.DISC / 100;
                        selectedRow = "even";
                        if (i % 2 == 0)
                        {
                            selectedRow = "odd";
                        }
                        <tr class="@selectedRow">
                            <td class="col-1">@i</td>
                            <td class="col-2">@discount_text</td>
                            <td class="col-2"></td>
                            <td class="col-6">@discount</td>
                        </tr>
                        i = i + 1;
                    }
                    foreach (var item2 in student_discounts)
                    {
                        string discount_text2 = item2.IS_AMT == "Y" ? item2.NAME : string.Concat(item2.NAME, ": ", item2.DISC, "%");
                        decimal discount2 = item2.IS_AMT == "Y" ? (decimal)item2.DISC : ViewBag.total_payable * (decimal)item2.DISC / 100;
                        selectedRow = "even";
                        if (i % 2 == 0)
                        {
                            selectedRow = "odd";
                        }
                        <tr class="@selectedRow">
                            <td class="col-1">@i</td>
                            <td class="col-2">@discount_text2</td>
                            <td class="col-2"></td>
                            <td class="col-6">@discount2</td>
                        </tr>
                        i = i + 1;
                    }
                    foreach (var item3 in category_discounts)
                    {
                        string discount_text3 = item3.IS_AMT == "Y" ? item3.NAME : string.Concat(item3.NAME, ": ", item3.DISC, "%");
                        decimal discount3 = item3.IS_AMT == "Y" ? (decimal)item3.DISC : ViewBag.total_payable * (decimal)item3.DISC / 100;
                        selectedRow = "even";
                        if (i % 2 == 0)
                        {
                            selectedRow = "odd";
                        }
                        <tr class="@selectedRow">
                            <td class="col-1">@i</td>
                            <td class="col-2">@discount_text3</td>
                            <td class="col-2"></td>
                            <td class="col-6">@discount3</td>
                            `
                        </tr>
                        i = i + 1;
                    }
                    selectedRow = "even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "odd";
                    }
                    <tr class="tr-blank"></tr>
                    <tr class="tr-blank"></tr>
                    <tr class="@selectedRow">
                        <td class="col-8" colspan="3">Total Discount</td>
                        <td class="col-6">@ViewBag.total_discount</td>
                    </tr>
                    selectedRow = "even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "odd";
                    }
                    <tr class="tr-blank"></tr>
                    <tr class="tr-blank"></tr>
                    { total_fees -= total_fees * @ViewBag.total_discount_percentage / 100; }
                    <tr class="@selectedRow">
                        <td class="col-8" colspan="3">Total Fees</td>
                        <td class="col-6">@total_fees.ToString("0.00")</td>
                    </tr>
                }
                @if (@ViewBag.total_fine != 0)
                {
                    selectedRow = "even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "odd";
                    }
                    <tr class="tr-blank"></tr>
                    <tr class="tr-blank"></tr>
                    <tr class="@selectedRow">
                        <td class="col-1" colspan="4"><span class="themed_text">Fine:</span></td>
                    </tr>
                    foreach (var item in batch_fine)
                    {
                        string fine_text = item.IS_AMT == "Y" ? string.Concat(item.NAME, " On ", item.FINE_DATE.Value.ToShortDateString()) : string.Concat(item.NAME, " On ", item.FINE_DATE.Value.ToShortDateString(), " : ", item.FINE, "%");
                        decimal fine = item.IS_AMT == "Y" ? (decimal)item.FINE : ViewBag.total_payable * (decimal)item.FINE / 100;
                        selectedRow = "even";
                        if (i % 2 == 0)
                        {
                            selectedRow = "odd";
                        }
                        <tr class="@selectedRow">
                            <td class="col-1">@i</td>
                            <td class="col-2">@fine_text</td>
                            <td class="col-3"></td>
                            <td class="col-6">@fine</td>
                        </tr>
                        i = i + 1;
                    }
                    foreach (var item in student_fine)
                    {
                        string fine_text2 = item.IS_AMT == "Y" ? string.Concat(item.NAME, " On ", item.FINE_DATE.Value.ToShortDateString()) : string.Concat(item.NAME, " On ", item.FINE_DATE.Value.ToShortDateString(), " : ", item.FINE, "%");
                        decimal fine2 = item.IS_AMT == "Y" ? (decimal)item.FINE : ViewBag.total_payable * (decimal)item.FINE / 100;
                        selectedRow = "even";
                        if (i % 2 == 0)
                        {
                            selectedRow = "odd";
                        }
                        <tr class="@selectedRow">
                            <td class="col-1">@i</td>
                            <td class="col-2">@fine_text2</td>
                            <td class="col-3"></td>
                            <td class="col-6">@fine2</td>
                        </tr>
                        i = i + 1;
                    }
                    foreach (var item in category_fine)
                    {
                        string fine_text3 = item.IS_AMT == "Y" ? string.Concat(item.NAME, " On ", item.FINE_DATE.Value.ToShortDateString()) : string.Concat(item.NAME, " On ", item.FINE_DATE.Value.ToShortDateString(), " : ", item.FINE, "%");
                        decimal fine3 = item.IS_AMT == "Y" ? (decimal)item.FINE : ViewBag.total_payable * (decimal)item.FINE / 100;
                        selectedRow = "even";
                        if (i % 2 == 0)
                        {
                            selectedRow = "odd";
                        }
                        <tr class="@selectedRow">
                            <td class="col-1">@i</td>
                            <td class="col-2">@fine_text3</td>
                            <td class="col-3"></td>
                            <td class="col-6">@fine3</td>
                            `
                        </tr>
                        i = i + 1;
                    }
                    selectedRow = "even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "odd";
                    }
                    <tr class="tr-blank"></tr>
                    <tr class="tr-blank"></tr>
                        <tr class="@selectedRow" cellpadding="1" cellspacing="1">
                            <td class="col-8" colspan="3">Total Fine</td>
                            <td class="col-6">@ViewBag.total_fine</td>
                        </tr>
                        <tr class="tr-blank"></tr>
                        <tr class="tr-blank"></tr>
                    { total_fees += @ViewBag.total_fine; }

                }
                <tr class="tr-blank"></tr>
                <tr class="tr-blank"></tr>
                @if (paid_fees != null)
                {
                    selectedRow = "even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "odd";
                    }
                    decimal paid = 0;
                    <tr class="@selectedRow">
                        <td class="col-1" colspan="4"><span class="themed_text">Payment Done: </span></td>
                    </tr>
                    foreach (var item13 in paid_fees)
                    {
                        selectedRow = "even";
                        paid += (decimal)item13.FinanceTransactionData.AMT;
                        if (i % 2 == 0)
                        {
                            selectedRow = "odd";
                        }
                        <tr class="@selectedRow">
                            <td class="col-pdf1">@i</td>
                            <td class="col-pdf2">Partial Payment On : @item13.FinanceTransactionData.TRAN_DATE</td>
                            <td class="col-pdf3"> @item13.FinanceTransactionData.RCPT_NO</td>
                            <td class="col-pdf4">@item13.FinanceTransactionData.AMT</td>
                        </tr>
                        i += 1;
                    }
                    total_fees -= paid;
                }
                <tr class="tr-blank"></tr>
                <tr class="tr-blank"></tr>
                @{selectedRow = "even"; }
                @if (i % 2 == 0)
                {
                    selectedRow = "odd";
                }
                <tr class="@selectedRow" cellpadding="1" cellspacing="1">
                    <td class="col-8" colspan="3">Amount To Pay :</td>
                    <td class="col-pdf">@total_fees.ToString("0.00")</td>
                </tr>
                @{selectedRow = "even"; }
                @if (i % 2 == 0)
                {
                    selectedRow = "odd";
                }
                <tr class="@selectedRow" cellpadding="1" cellspacing="1">
                    <td class="col-8" colspan="3"></td>
                    <td class="col-pdf"><input type="submit" id="submit_button" value="Print" class="submit_button" onclick="window.print()" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>