
@{
    ViewBag.Title = "Update_Monthly_Report";
}
@{
    IEnumerable<SFSAcademy.CategoryTransactions> other_transaction_categories = (IEnumerable<SFSAcademy.CategoryTransactions>)ViewData["other_transaction_categories"];
    IEnumerable<SFSAcademy.FinanceTransaction> transactions = (IEnumerable<SFSAcademy.FinanceTransaction>)ViewData["transactions"];
    DateTime start_date = (DateTime)ViewData["start_date"];
    DateTime end_date = (DateTime)ViewData["end_date"];
    IEnumerable<SFSAcademy.PRIVILEGE> privilege = (IEnumerable<SFSAcademy.PRIVILEGE>)ViewData["privilege"];
}
<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Transactions</h1>
    <h3>Finance Transactions View</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("pdf Report", "Transaction_pdf", new { START_TRAN_DATE = start_date, END_TRAN_DATE = end_date }, new { @target = "_blank" })</li>
    </ul>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        @Html.ActionLink("Finance", "Index") &raquo;
        @Html.ActionLink("Transactions", "Transactions") &raquo;
        @Html.ActionLink("Monthly Transactions", "Monthly_Report") &raquo;
        Finance Transactions View
    </div>
    <table id="listing" align="center" style="width:100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
            <td>Sl. No.</td>
            <td>Particulars</td>
            <td>Expenses</td>
            <td>Income</td>
        </tr>
        <tr class="tr-blank"></tr>
        @{int index = 0; string selectedRow = ""; decimal income_total = 0; decimal expenses_total = 0;}

        @if (ViewBag.hr != null)
        {
            index += 1;
            <tr class="tr-odd">
                <td class="col-1">@index</td>
                @if (ViewBag.salary != 0)
                {
                    <td class="col-2">@Html.ActionLink("Salary Account", "Salary_Department", new { start_date = start_date, end_date = end_date })</td>
                }
                else
                {
                    <td class="col-2">Salary Account</td>
                }
                <td class="col-3" align="right">@ViewBag.salary</td>
                <td> </td>
            </tr>
        }
        @{index += 1;}
        <tr class="tr-even">
            <td class="col-1">@index</td>
            @if (ViewBag.donations_total != 0)
            {
                <td class="col-2">@Html.ActionLink("Donations", "Donations_Report", new { START_TRAN_DATE = start_date, END_TRAN_DATE = end_date })</td>
            }
            else
            {
                <td class="col-2">Donations</td>
            }
            <td></td>
            <td class="col-3" align="right">@ViewBag.donations_total</td>

        </tr>
        @{index += 1;}
        <tr class="tr-odd">
            <td class="col-1">@index</td>
            @if (ViewBag.transactions_fees != 0)
            {
                <td class="col-2">@Html.ActionLink("Fees Account", "Fees_Report", new { START_TRAN_DATE = start_date, END_TRAN_DATE = end_date })</td>
            }
            else
            {
                <td class="col-2">Fees Account</td>
            }
            <td></td>
            <td class="col-3" align="right">@ViewBag.transactions_fees</td>

        </tr>
        @foreach (var item in other_transaction_categories)
        {
            index += 1;
            selectedRow = "tr-even";
            decimal income = 0; decimal expense = 0;
            if (privilege.Select(p => p.NAME).Contains("HostelAdmin"))
            {
                if (item.TransactionCategoryData.IS_INCM == true) { income = (decimal)item.TRANS_AMNT; }
                if (item.TransactionCategoryData.IS_INCM == false) { expense = (decimal)item.TRANS_AMNT; }
                if (index % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="@selectedRow">
                    <td class="col-1">@index</td>
                    <td class="col-2">@Html.ActionLink(item.TransactionCategoryData.NAME, "Income_Details", new { START_TRAN_DATE = start_date, END_TRAN_DATE = end_date, id = item.TransactionCategoryData.ID })</td>
                    @if (expense != 0)
                    {
                        <td class="col-3" align="right">@expense</td>
                    }
                    else
                    {
                        <td class="col-3" align="right"></td>
                    }
                    @if (income != 0)
                    {
                        <td class="col-3" align="right">@income</td>
                    }
                    else
                    {
                        <td class="col-3" align="right"> </td>
                    }
                </tr>
                income_total += income;
                expenses_total += expense;
            }
            else
            {
                if (!item.TransactionCategoryData.NAME.Contains("Hostel"))
                {
                    if (item.TransactionCategoryData.IS_INCM == true) { income = (decimal)item.TRANS_AMNT; }
                    if (item.TransactionCategoryData.IS_INCM == false) { expense = (decimal)item.TRANS_AMNT; }
                    if (index % 2 == 0)
                    {
                        selectedRow = "tr-odd";
                    }
                    <tr class="@selectedRow">
                        <td class="col-1">@index</td>
                        <td class="col-2">@Html.ActionLink(item.TransactionCategoryData.NAME, "Income_Details", new { START_TRAN_DATE = start_date, END_TRAN_DATE = end_date, id = item.TransactionCategoryData.ID })</td>
                        @if (expense != 0)
                        {
                            <td class="col-3" align="right">@expense</td>
                        }
                        else
                        {
                            <td class="col-3" align="right"></td>
                        }
                        @if (income != 0)
                        {
                            <td class="col-3" align="right">@income</td>
                        }
                        else
                        {
                            <td class="col-3" align="right"> </td>
                        }
                    </tr>
                    income_total += income;
                    expenses_total += expense;
                }
            }

        }
        @{expenses_total += (decimal)ViewBag.salary; income_total += (decimal)ViewBag.donations_total; income_total += (decimal)ViewBag.transactions_fees;}
        <tr class="tr-blank"></tr>
        <tr class="tr-even">
            <td class="col-1"> </td>
            <td class="col-2">Total</td>
            <td class="col-3" align="right">@expenses_total</td>
            <td class="col-3" align="right">@income_total</td>

        </tr>
        @{ decimal grand_total = income_total - expenses_total;}
        @{ decimal grand_total_positive = grand_total * -1; }
        <tr class="tr-blank"></tr>
        <tr class="tr-odd">
            <td class="col-1"> </td>
            <td class="col-2">Grand Total</td>
            @if (grand_total >= 0)
            {
                <td></td>
                <td class="col-3" align="right">@grand_total.ToString("0.00")</td>
            }
            else
            {
                <td class="col-3" align="right">@grand_total_positive.ToString("0.00")</td>
                <td></td>
            }

        </tr>
    </table>
    <br />
    <br />
     @if (ViewBag.salary != 0 || ViewBag.donations_total != 0 || ViewBag.other_transactions != null)
     {
        <script type="text/javascript" src="/javascripts/swfobject.js"></script>
            @ViewBag.graph
     }   

</div>


