@model SFSAcademy.EMPLOYEE

@{
    IEnumerable<SFSAcademy.MonthyPayslip> monthly_payslips = (IEnumerable<SFSAcademy.MonthyPayslip>)ViewData["monthly_payslips"];
    IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY> individual_payslips = (IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY>)ViewData["individual_payslips"];
    IEnumerable<SFSAcademy.Payslip> salary = (IEnumerable<SFSAcademy.Payslip>)ViewData["salary"];
}
@{
    ViewBag.Title = "View_Employee_Payslip";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery.ui.all.css" />
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Finance</h1>
    <h3>Employee Payslip</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div class="bread_crumb">
    <a href="@Url.Action("Index", "Finance")">Finance</a> &raquo;
    <a href="@Url.Action("Payslip_Index", "Finance")">Payslip</a> &raquo;
    <a href="@Url.Action("View_Monthly_Payslip", "Finance")">Monthly Payslip</a> &raquo;
    @monthly_payslips.FirstOrDefault().EmployeeData.Full_Name : @ViewBag.Selected_Salary_Date
</div>
<div id="flash_box">
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
</div>
<div id="page-yield">
    <div id="flash_box">
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }
    </div>
    @{string Stat = monthly_payslips.FirstOrDefault().MonthlyPayslipData.IS_APPR == true ? "Approved" : (monthly_payslips.FirstOrDefault().MonthlyPayslipData.IS_RJCT == true ? "Rejected" : null);}
    <ul class="item-list">
        <li class="heading">@monthly_payslips.FirstOrDefault().EmployeeData.Full_Name </li>
        <li class="heading">Payslip generated on: @ViewBag.Selected_Salary_Date <span class="themed_text">(Status: @Stat)</span></li>
    </ul>
    <ul class="item-list">
        <li class="heading1">Salary</li>
        @{ int i = 0;}
        @foreach (var item in monthly_payslips)
        {
            string selectedRow = "listeven";
            if (i % 2 == 0)
            {
                selectedRow = "listodd";
            }
            if (!item.PayrollCatogaryData.ID.Equals(null) && item.PayrollCatogaryData.ID != 0)
            {
                if (item.PayrollCatogaryData.IS_DED == false)
                {
                    <li class="@selectedRow">
                        <div class="item-name">@item.PayrollCatogaryData.NAME </div>
                        <div class="item-edit"><span class="currency-type">@ViewBag.currency_type</span> @item.MonthlyPayslipData.AMT</div>
                    </li>
                }
            }
            i += 1;
        }
        @if (individual_payslips != null && individual_payslips.Count() != 0)
        {
            foreach (var item in individual_payslips)
            {
                string selectedRow = "listeven";
                if (i % 2 == 0)
                {
                    selectedRow = "listodd";
                }
                if (item.IS_DED == false)
                {
                    <li class="@selectedRow">
                        <div class="item-name">@item.NAME</div>
                        <div class="item-edit"><span class="currency-type">@ViewBag.currency_type</span> @item.AMT</div>
                    </li>
                }
                i += 1;
            }
        }
        @{string selectedRow2 = "listeven"; }
        @if (i % 2 == 0)
        {
            selectedRow2 = "listodd";
        }
        <li class="@selectedRow2">
            <div class="item-name"><b>Total Salary</b></div>
            <div class="item-edit"><b><span class="currency-type">@ViewBag.currency_type</span> @salary.FirstOrDefault().Net_Non_Deductionable_Amount</b></div>
        </li>
    </ul>
    <ul class="item-list">
        <li class="heading1">Deductions</li>
        @{ int j = 0;}
        @foreach (var item in monthly_payslips)
        {
            string selectedRow = "listeven";
            if (j % 2 == 0)
            {
                selectedRow = "listodd";
            }
            if (!item.PayrollCatogaryData.ID.Equals(null) && item.PayrollCatogaryData.ID != 0)
            {
                if (item.PayrollCatogaryData.IS_DED == true)
                {
                    <li class="@selectedRow">
                        <div class="item-name">@item.PayrollCatogaryData.NAME </div>
                        <div class="item-edit"><span class="currency-type">@ViewBag.currency_type</span> @item.MonthlyPayslipData.AMT</div>
                    </li>
                }
            }
            j += 1;
        }
        @if (individual_payslips != null && individual_payslips.Count() != 0)
        {
            foreach (var item in individual_payslips)
            {
                string selectedRow = "listeven";
                if (j % 2 == 0)
                {
                    selectedRow = "listodd";
                }
                if (item.IS_DED == true)
                {
                    <li class="@selectedRow">
                        <div class="item-name">@item.NAME</div>
                        <div class="item-edit"><span class="currency-type">@ViewBag.currency_type</span> @item.AMT</div>
                    </li>
                }
                j += 1;
            }
        }
        @{string selectedRow3 = "listeven"; }
        @if (j % 2 == 0)
        {
            selectedRow3 = "listodd";
        }
        <li class="@selectedRow3">
            <div class="item-name"><b>Total Deduction</b></div>
            <div class="item-edit"><b><span class="currency-type">@ViewBag.currency_type</span> @salary.FirstOrDefault().Net_Deductionable_Amount</b></div>
        </li>
    </ul>
    <ul class="item-list">
        <li class="heading1">Total</li>
        <li class="listeven">
            <div class="item-name"><b>Net Salary</b></div>
            <div class="item-edit"><span class="currency-type"><b>@ViewBag.currency_type</b></span><b> @salary.FirstOrDefault().Net_Amount</b></div>
        </li>
    </ul>
</div>
<div class="pdf-report">
    <table>
        <tr>
            <td>
                @if (ViewBag.is_present_employee == true && monthly_payslips.FirstOrDefault().MonthlyPayslipData.IS_APPR == false && monthly_payslips.FirstOrDefault().MonthlyPayslipData.IS_RJCT == false)
                {
                    @Html.ActionLink("Approve", "Employee_Payslip_Approve", new { id = Model.ID, Sal_Year = monthly_payslips.FirstOrDefault().MonthlyPayslipData.SAL_DATE.Value.Year, Sal_Month = monthly_payslips.FirstOrDefault().MonthlyPayslipData.SAL_DATE.Value.Month, Sal_Day = monthly_payslips.FirstOrDefault().MonthlyPayslipData.SAL_DATE.Value.Day}, new { @class = "user_button", @onclick = "return confirm('are you sure?')" })

                }
                else
                {
                    @Html.Partial("_Accept_Form")
                }
            </td>
            <td>
                @Html.Partial("_Reject_Form")
            </td>
            <td>
                <a href="@Url.Action("Employee_Individual_Payslip_pdf", "Employee",new { id = Model.ID, salary_date = monthly_payslips.FirstOrDefault().MonthlyPayslipData.SAL_DATE })" class="user_button" target="_blank">pdf Report</a>
            </td>
        </tr>
    </table>  
</div>




