
@{
    ViewBag.Title = "Employee_Leave_Reset_By_Department";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript" language="javascript">
    /* This is change event for your dropdownlist */
    $(document).ready(function () {
        $(".LoaderBox").hide();
        $('#DepDropDown').change(function () {

        /* Get the selected value of dropdownlist */
        var selectedID = $(this).val();
        $(".LoaderBox").show();
        /* Request the partial view with .get request. */
        $.get('/Employee_Attendance/List_Department_Leave_Reset?department_id=' + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#department-list').html(data);
            /* little fade in effect */
            $('#department-list').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox").hide();
        });

    });
   });
</script>
<div id="content-header">
    <img src="~/Content/images/HR/leave-new.png" alt="Leave Logo">
    <h1>Depertment Leave Reset</h1>
    <h3>Reset Employee Leave Department Wise</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="page-yield">
    @if (ViewBag.Notice != null)
            {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }

    <div class="bread_crumb">
        <a href="@Url.Action("HR", "Employee")">HR</a> &raquo;
        <a href="@Url.Action("Employee_Attendance", "Employee")">Employee Leave Management</a> &raquo;
        <a href="@Url.Action("Manual_Reset", "Employee_Attendance")">Reset Leave</a> &raquo;
        Department Reset
    </div>
    <div id="box">

        <div class="label-field-pair label">
            <div class="label-container label">@Html.Label("EMP_DEPT_ID", "Select The Department :", htmlAttributes: new { @class = "control-label col-md-2" })</div>
            <div class="text-input-bg">
                @Html.DropDownList("EMP_DEPT_ID", null, htmlAttributes: new { @id = "DepDropDown" })
                <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
                @Html.ValidationMessage("EMP_DEPT_ID", "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="department-list" style="display:none;"> </div>

    </div>

</div>

