@model SFSAcademy.EMPLOYEE
@{
    ViewBag.Title = "Leave_History";
}
<div id="content-header">
    <img src="~/Content/images/attendence/attendence.png" alt="Attendence Logo">
    <h1>Employee_Attendance</h1>
    <h3>Leave History</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="inner-tab-menu">
    <ul>
        @if (Html.Permitted_To("Emp_Attendance", "Employee_Attendance") || Html.CurrentUser_UserType().Equals("Admin"))
        {
            <li>@Html.ActionLink("Mini Report", "Emp_Attendance", new { id = Model.ID })</li>
        }
    </ul>
</div>
<div class="bread_crumb">
    <a href="@Url.Action("HR", "Employee")">HR</a> &raquo;
    <a href="@Url.Action("Employee_Attendance", "Employee")">Employee Leave Management</a> &raquo;
    <a href="@Url.Action("Report", "Employee_Attendance")">Reports</a> &raquo;
    Leave History
</div>
<div id="page-yield">
    <div class="box">
        @using (Ajax.BeginForm("Update_Leave_History", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "attendance-report", InsertionMode = InsertionMode.Replace, OnBegin = "OpenLoader()", OnSuccess = "CloseLoader()" }, htmlAttributes: new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("employee_id", Model.ID)
            <div class="label-field-pair label">
                <label for="reason"> Start Date </label>
                <div class="text-input-bg">
                    @Html.Editor("START_DATE", new { htmlAttributes = new { @class = "m-wrap  datepicker" } })
                </div>
            </div>
            <div class="label-field-pair label">
                <label for="reason"> End Date </label>
                <div class="text-input-bg">
                    @Html.Editor("END_DATE", new { htmlAttributes = new { @class = "m-wrap  datepicker" } })
                </div>
            </div>
            <input type="submit" value="► Go" id="submit_button" class="user_button" />
            <div class="LoaderBox" hidden="hidden"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
        }
    </div>
    <br />
    <div id="attendance-report"> </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryunobtrusive") @*For unobtrusive-ajax*@
    @Scripts.Render("~/bundles/jqueryval") @*For validate and validate-unobtrusive*@

    <script type="text/javascript" language="javascript">
        function CloseLoader() {
            $(".LoaderBox").hide();
        }

        function OpenLoader() {
            $(".LoaderBox").show();
        }

        $(function () {
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar_date_select/calendar.gif",
                dateFormat: 'dd/mm/yy',
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                showAnim: 'slideDown'
            });
        });
    </script>
}