
@{
    EMPLOYEE employee = (EMPLOYEE)ViewData["employee"];
    IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY> new_payslip_category = (IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY>)ViewData["new_payslip_category"];
    IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY> individual = (IEnumerable<INDIVIDUAL_PAYSLIP_CATGEORY>)ViewData["individual"];
}
<script type="text/javascript" language="javascript">
    function LoadPartialPage(sender) {
        $(".LoaderBox").show();
        if (confirm('Are you sure you want to remove this?')) {
            $.get(sender, function (data) {
                $('#individual-payslip-categories-list').html(data);
                $('#individual-payslip-categories-list').fadeIn('fast');
            }).success(function (status) {
                $(".LoaderBox").hide();
            });
        }
        else {
            return false;
        }
    }

</script>
<ul class="payslip_category_list">
    @foreach (var item in new_payslip_category)
    {
        <li class="new_category">
            <div class="name">@item.NAME</div>
            <div class="val themed_text"> <span>:</span>@item.AMT</div>
            <div class="del-button">
                <a href="@Url.Action("Remove_New_Paylist_Category", "Employee", new { id = item.ID, id3 = item.SAL_DATE})" onclick="LoadPartialPage(this.href); return false;"><img src="~/Content/images/buttons/delete-new.png" alt="Delete"></a>
                <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none" hidden="hidden"></div>
            </div>
        </li>
    }

    @foreach (var item in individual)
    {
        <li class="new_category">
            <div class="name">@item.NAME</div>
            <div class="val themed_text"> <span>:</span>@item.AMT</div>
            <div class="del-button">
                <a href="@Url.Action("Remove_New_Paylist_Category", "Employee", new { id = item.ID, id3 = item.SAL_DATE})" onclick="LoadPartialPage(this.href); return false;"><img src="~/Content/images/buttons/delete-new.png" alt="Delete"></a>
                <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none" hidden="hidden"></div>
            </div>
        </li>
    }

</ul>