@{
    EMPLOYEE employee = (EMPLOYEE)ViewData["employee"];
}
<script type="text/javascript" language="javascript">
    function CloseLoader() {
        $(".LoaderBox").hide();
    }

    function OpenLoader() {
        $(".LoaderBox").show();
    }
</script>
<br />
@using (Ajax.BeginForm("Create_Payslip_Category", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "individual-payslip-categories-list", InsertionMode = InsertionMode.Replace, OnBegin = "OpenLoader()", OnSuccess = "CloseLoader()" }, htmlAttributes: new { @class = "form-horizontal" }))
{
    <div class="label-field-pair label">
        <label for="category_name">Name</label>
        <div class="text-input-bg"> @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control", @id = "Name" } })</div>
    </div>
    <div class="label-field-pair label">
        <label for="category_amount">Amount</label>
        <div class="text-input-bg">@Html.Editor("Amount", new { htmlAttributes = new { @class = "form-control", @id = "Amount" } }) </div>
    </div>
    <div class="label-field-pair label">
        @Html.Label("Is_Deduction", "Is Deduction?", htmlAttributes: new { @class = "label_for_employee_gender" })
        <div class="text-input-bg">
            @Html.CheckBox("Is_Deduction")
        </div>
    </div>
    <div class="label-field-pair label">
        @Html.Label("include_every_month", "Include in Evenry Month?", htmlAttributes: new { @class = "label_for_employee_gender" })
        <div class="text-input-bg">
            @Html.CheckBox("include_every_month")
        </div>
    </div>
    <div id="new-category-submit-button">
        <input type="submit" value="► Create" class="submit_button" />
        <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
    </div>
    string CallingAction = ViewBag.CallingAction; int? employee_id = employee.ID; DateTime? salary_date = ViewBag.salary_date;
    @Html.Hidden("CallingAction", CallingAction)
    @Html.Hidden("employee_id", employee_id)
    @Html.Hidden("salary_date", salary_date)
}
