@model SFSAcademy.EMPLOYEE_POSITION
@{
    ViewBag.Title = "Add_Position";
}
<div id="content-header">
    <img src="~/Content/images/HR/show_hr.png" alt="HR Logo">
    <h1>Employee Settings</h1>
    <h3>Add Position</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="page-yield">
    <div class="box">
        <div class="bread_crumb">
            @Html.ActionLink("HR", "HR") &raquo;
            @Html.ActionLink("HR Setting", "Settings") &raquo;
            Add Position
        </div>
        @if (ViewBag.ErrorMessage != null)
            {
            <div id="errorExplanation1">
                <ul>
                    <li> @ViewBag.ErrorMessage</li>
                </ul>
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div id="flash_box">
                @if (ViewBag.Notice != null)
                {
                    <p class="flash-msg"> @ViewBag.Notice </p>
                }
            </div>
            <div id="page-yield">
                <div id="form-content">
                    <div class="label-field-pair label">
                        @Html.LabelFor(model => model.POS_NAME, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="text-input-bg">
                            @Html.EditorFor(model => model.POS_NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.POS_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="label-field-pair label">
                        @Html.LabelFor(model => model.POS_DESCR, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="text-input-bg">
                            @Html.EditorFor(model => model.POS_DESCR, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.POS_DESCR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="label-field-pair label">
                        @Html.LabelFor(model => model.EMP_CAT_ID, "Employee Category", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="text-input-bg">
                           @Html.DropDownList("EMP_CAT_ID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EMP_CAT_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="label-checkbox-pair label">
                        <label class="status" for="status">Status</label>
                        <div id="radio-buttons">
                            @Html.RadioButton("IS_ACT", "Y", true)@Html.Label("Active", new { @class = "label_for_status" })
                            @Html.RadioButton("IS_ACT", "N", false)@Html.Label("Inactive", new { @class = "label_for_status" })
                        </div>
                    </div>
                    <div id="submit-button">
                        <input type="submit" value="► Create" class="user_button" />
                    </div>
                </div>
            </div>
        }
        <div id="position-list">
            @Html.Partial("~/Views/Employee/_Position.cshtml", Model)
        </div>
    </div>
</div>

