@model SFSAcademy.EMPLOYEE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMP_NUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_NUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JOINING_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JOINING_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MID_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MID_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GNDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GNDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JOB_TIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JOB_TIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPNC_DETL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPNC_DETL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPNC_YEAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPNC_YEAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPNC_MONTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPNC_MONTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAT_DESCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAT_DESCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARITAL_STAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARITAL_STAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHLD_CNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHLD_CNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTHR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTHR_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTHR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTHR_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HUSBND_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HUSBND_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOOD_GRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOOD_GRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOME_ADDR_LINE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOME_ADDR_LINE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOME_ADDR_LINE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOME_ADDR_LINE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOME_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOME_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOME_STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOME_STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOME_PIN_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOME_PIN_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFF_ADDR_LINE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFF_ADDR_LINE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFF_ADDR_LINE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFF_ADDR_LINE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFF_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFF_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFF_STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFF_STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFF_PIN_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFF_PIN_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFF_PH1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFF_PH1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFF_PH2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFF_PH2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBL_PH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBL_PH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOME_PH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOME_PH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EML)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EML)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHTO_FILENAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHTO_FILENAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHTO_CNTNT_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHTO_CNTNT_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHTO_DATA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHTO_DATA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHTO_FILE_SIZE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHTO_FILE_SIZE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY.CTRY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY.CTRY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY1.CTRY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY1.CTRY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY2.CTRY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY2.CTRY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE_CATEGORY.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE_CATEGORY.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE_POSITION.POS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE_POSITION.POS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE_DEPARTMENT.CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE_DEPARTMENT.CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE2.EMP_NUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE2.EMP_NUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE_GRADE.GRADE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE_GRADE.GRADE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.USRNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.USRNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
