@model IEnumerable<SFSAcademy.Models.Employee>

@{
    ViewBag.Title = "Search";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#StdList").hide();
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $("#StdList").show();
                    $(this).hide();
                }
                else {
                    $("#StdList").show();
                    $(this).show();
                }
            });
            if ($("#Search").val() == '') {
                $("#StdList").hide();
            }
        });
    });

</script>
<div id="content-header">
    <img src="~/Content/images/HR/show_hr.png" alt="HR Logo">
    <h1>Employee Search</h1>
    <h3>Employee_Details</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div> <img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("View All", "View_All")</li>
        <li>@Html.ActionLink("Advanced", "Advanced_Search")</li>
    </ul>
</div>
<div class="bread_crumb">
    @Html.ActionLink("Human Resources", "HR") &raquo;
    Employee Search
</div>
<p class="flash-msg">*Enter first name, middle name, last name, employee number or department of Employee to search.</p>
<div id="page-yield">
    <div id="search_box_bg">
        <div id="flash_box">
            @if (ViewBag.ErrorMessage != null)
            {
                <p class="flash-msg"> @ViewBag.ErrorMessage </p>
            }
        </div>
        <div id="search_textbox">
            <img src="~/Content/images/search_icon.png">
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
    <br />
    <div class="students-table" id="StdList">
        <table id="listing" align="center" style="width:100%" cellpadding="1" cellspacing="1" class="table table-striped">
            <tr class="tr-head">
                <th>
                    Sl. No.
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Employee Number
                </th>
                <th>
                    Employee Department
                </th>
            </tr>
            <tr class="tr-blank"></tr>
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string selectedRow = "tr-even";
                if (i % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="Search @selectedRow">
                    <td class="col-1">
                        @i
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.EmployeeData.FIRST_NAME) @Html.DisplayFor(modelItem => item.EmployeeData.MID_NAME) @Html.DisplayFor(modelItem => item.EmployeeData.LAST_NAME)
                        @Html.HiddenFor(modelItem => item.EmployeeData.ID)
                    </td>
                    <td class="col-2" nowrap>
                        @Html.ActionLink(item.EmployeeData.EMP_NUM, "Profiles", new { id = item.EmployeeData.ID }, new { style = "text-decoration:underline" })
                    </td>
                    <td class="col-4" nowrap>
                        @Html.DisplayFor(modelItem => item.DepartmentData.NAMES)
                        <label>-</label>
                        @Html.DisplayFor(modelItem => item.PositionData.POS_NAME)
                    </td>
                </tr>
                i = i + 1;
            }
        </table>
        <br />
    </div>
</div>

