@model SFSAcademy.CCE_GRADE_SET
<link href="~/Content/stylesheets/modalbox.css" rel="stylesheet" />
<script type="text/javascript" language="javascript">
    /* This is change event for your dropdownlist */
    $(document).ready(function () {
        $(".LoaderBox5").hide();
        $(function () {
            $("#modal-box").dialog({
                autoOpen: false,
                draggable: true,
                resizable: true,
                width: 600,
                height: 'auto',
                dialogClass: "alert",
                cache: false,
                buttons: {
                    Cancel: function () {
                        $("#modal-box").dialog("close");
                    }
                },
                modal: true
            });

        });

    });
    $.validator.unobtrusive.parse(document);
    function CloseDialog() {
        $('#modal-box').dialog("close");
    }
    function OpenLoader() {
        $(".LoaderBox5").show();
    }

</script>
<div class="LoaderBox5" hidden="hidden"><img src="~/Content/images/loader.gif" id="loader" alt="Exam Logo" style="align-self:center; border:none"></div>
<div id="page-yield">
    <div class="box">
        @using (Ajax.BeginForm("Update", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "grade_sets", InsertionMode = InsertionMode.Replace, OnBegin = "OpenLoader()", OnSuccess = "CloseDialog()" }, htmlAttributes: new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            if (ViewBag.ErrorMessage != null)
            {
                <p class="flash-msg"> @ViewBag.ErrorMessage </p>
            }
            <div id="form-content">
                <div class="label-field-pair">
                    <label for="name">Name</label>
                    <span class="necessary-field" style="font-size:small">*</span>
                    <div class="text-input-bg">
                        @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger", @style = "color:red; font-size:small" })
                    </div>
                </div>
                <input type="submit" value="► Update" id="submit_button" />
            </div>
        }
        <div class="extender"></div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/dropzone.js"></script>