@model SFSAcademy.CCE_WEIGHTAGE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CCE_WEIGHTAGE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WTAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRITA_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRITA_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCE_EXAM_CATEGORY.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCE_EXAM_CATEGORY.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
