@using SFSAcademy.Models
@{
    BATCH batch = (BATCH)ViewData["batch"];
    IEnumerable<SFSAcademy.CLASS_TIMING> class_timing = (IEnumerable<SFSAcademy.CLASS_TIMING>)ViewData["class_timing"];
    IEnumerable<SFSAcademy.WEEKDAY> weekday = (IEnumerable<SFSAcademy.WEEKDAY>)ViewData["weekday"];
    IEnumerable<SFSAcademy.TIMETABLE_ENTRY> timetable = (IEnumerable<SFSAcademy.TIMETABLE_ENTRY>)ViewData["timetable"];
    IEnumerable<SFSAcademy.SUBJECT> subjects = (IEnumerable<SFSAcademy.SUBJECT>)ViewData["subjects"];
    IEnumerable<SFSAcademy.SUBJECT> ele_subjects = (IEnumerable<SFSAcademy.SUBJECT>)ViewData["ele_subjects"];
    IEnumerable<SFSAcademy.SUBJECT> Subject = (IEnumerable<SFSAcademy.SUBJECT>)ViewData["Subject"];
    IEnumerable<SFSAcademy.TIMETABLE_ENTRY> TimetableEntry = (IEnumerable<SFSAcademy.TIMETABLE_ENTRY>)ViewData["TimetableEntry"];
    IEnumerable<SFSAcademy.Models.Timetable_Entries> overlap = (IEnumerable<SFSAcademy.Models.Timetable_Entries>)ViewData["overlap"];
    IEnumerable<SFSAcademy.EMPLOYEES_SUBJECT> EmployeesSubject = (IEnumerable<SFSAcademy.EMPLOYEES_SUBJECT>)ViewData["EmployeesSubject"];
    IEnumerable<SFSAcademy.CLASS_TIMING> ClassTiming = (IEnumerable<SFSAcademy.CLASS_TIMING>)ViewData["ClassTiming"];
    IEnumerable<SFSAcademy.WEEKDAY> WeekdayAll = (IEnumerable<SFSAcademy.WEEKDAY>)ViewData["WeekdayAll"];
}
<table border="0" align="center" width="100%" id="table" cellspacing="0">
    <tr>
        <td><div class="blank"></div></td>
        <td><div class="blank"></div></td>
        @foreach (var item in class_timing)
        {
            <td class="td">
                <div class="top">
                    @if (item.START_TIME != null && item.END_TIME != null)
                    {
                        if (item.IS_BRK == true)
                        {
                            <div class="top">@item.NAME</div>
                        }
                        else
                        {
                            <div class="top">@item.START_TIME.Value.Hours:@item.START_TIME.Value.Minutes - @item.END_TIME.Value.Hours:@item.END_TIME.Value.Minutes</div>
                        }
                    }
                    else if (item.START_TIME != null)
                    {
                        if (item.IS_BRK == true)
                        {
                            <div class="top">@item.NAME</div>
                        }
                        else
                        {
                            <div class="top">@item.START_TIME.Value.Hours:@item.START_TIME.Value.Minutes - ET Not Defined</div>
                        }
                    }
                    else
                    {
                        <div class="top">ST Not Defined - ET Not Defined</div>
                    }
                </div>
            </td>
        }
    </tr>
    @if (weekday != null && weekday.Count() != 0 && weekday.ElementAt(0).ID != 0)
    {
        foreach (var item in weekday)
        {
            <tr>
                <td class="td"><div class="name">Date::@item.NAME</div></td>
                <td class="td-blank"></td>
                @foreach (var item2 in class_timing)
                {
                    var tte = timetable.Where(x => x.WK_DAY_ID == item.ID && x.CLS_TMNG_ID == item2.ID).ToList();
                    string TagIDString = string.Concat("drop_", item.ID, "_", item2.ID);
                    string TagOnClickString = string.Concat("update_selected_divs('", item.ID, "_", item2.ID, "');");
                    string CheckBoxIdString = string.Concat("CheckBox", item.ID, "_", item2.ID);
                    string OnDropString = string.Concat("drop('", item.ID, "_", item2.ID, "',event);");
                    <td class="td">
                        @{ string DragId = string.Concat(item.ID, "_", item2.ID); string DropId = string.Concat("drop_", item.ID, "_", item2.ID); }
                        @{ string div_id_1 = "";}
                        @if (tte != null && tte.Count() != 0)
                        {
                            div_id_1 = string.Concat("subject_name_", tte.FirstOrDefault().ID);
                            <div id="@TagIDString" class="drop" onClick="@TagOnClickString" ondrop="@OnDropString" ondragover="allowDrop(event)">
                                <div class="tt-subject" id="@div_id_1">
                                    <div class="subject">
                                        @if (tte.FirstOrDefault().SUBJECT != null)
                                        {
                                            if (tte.FirstOrDefault().SUBJECT.ELECTIVE_GRP_ID != null)
                                            {
                                                @tte.FirstOrDefault().SUBJECT.ELECTIVE_GROUP.ELECTIVE_GRP_NAME
                                            }
                                            else
                                            {
                                                @tte.FirstOrDefault().SUBJECT.CODE
                                            }
                                            <span>
                                                @if (tte.FirstOrDefault().SUBJECT.ELECTIVE_GRP_ID != null)
                                                {
                                                    var subj_in_elective = Subject.Where(x => x.ELECTIVE_GRP_ID == tte.FirstOrDefault().SUBJECT.ELECTIVE_GRP_ID && x.IS_DEL == false);
                                                    foreach (var subItem in subj_in_elective)
                                                    {
                                                        if (subItem.NAME != null)
                                                        {
                                                            @subItem.NAME
                                                        }
                                                        var sub_emp = EmployeesSubject.Where(x => x.SUBJ_ID == subItem.ID);
                                                        if (sub_emp != null && sub_emp.Count() != 0)
                                                        {
                                                            <div class="emp-name">@sub_emp.FirstOrDefault().EMPLOYEE.FIRST_NAME @sub_emp.FirstOrDefault().EMPLOYEE.MID_NAME @sub_emp.FirstOrDefault().EMPLOYEE.LAST_NAME</div>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (tte.FirstOrDefault().SUBJECT.NAME != null)
                                                    {
                                                        @tte.FirstOrDefault().SUBJECT.NAME
                                                    }
                                                    if (tte.FirstOrDefault().EMPLOYEE != null)
                                                    {
                                                        <div class="emp-name">@tte.FirstOrDefault().EMPLOYEE.FIRST_NAME @tte.FirstOrDefault().EMPLOYEE.MID_NAME @tte.FirstOrDefault().EMPLOYEE.LAST_NAME</div>
                                                    }
                                                }
                                            </span>
                                        }
                                    </div>
                                    <div class="employee">
                                        @{ string LinkVal = "";}
                                        @if (tte.FirstOrDefault().SUBJECT != null)
                                        {
                                            if (tte.FirstOrDefault().SUBJECT.ELECTIVE_GRP_ID != null)
                                            {
                                                LinkVal = "Elective";
                                            }
                                            else
                                            {
                                                if (tte.FirstOrDefault().EMPLOYEE != null)
                                                {
                                                    if (tte.FirstOrDefault().EMPLOYEE.FIRST_NAME.Contains("MD") || tte.FirstOrDefault().EMPLOYEE.FIRST_NAME.Contains("Md") || tte.FirstOrDefault().EMPLOYEE.FIRST_NAME.Contains("md"))
                                                    {
                                                        LinkVal = string.Concat(tte.FirstOrDefault().EMPLOYEE.FIRST_NAME, " ", tte.FirstOrDefault().EMPLOYEE.MID_NAME);
                                                    }
                                                    else
                                                    {
                                                        LinkVal = tte.FirstOrDefault().EMPLOYEE.FIRST_NAME;
                                                    }
                                                }
                                            }
                                            <a href="@Url.Action("Delete_Employee2", "Timetable_Entries",new {id = tte.FirstOrDefault().ID})" style="border:none" class="absent themed_text" onclick='LoadPartialPage(this.href); return false;'><img src="~/Content/images/buttons/delete-new.png">@LinkVal</a>
                                        }

                                    </div>
                                </div>

                            </div>

                        }
                    </td>
                }
            </tr>
        }
    }
</table>
