@model SFSAcademy.TIMETABLE_ENTRY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TIMETABLE_ENTRY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BATCH.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BATCH.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLASS_TIMING.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLASS_TIMING.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.EMP_NUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.EMP_NUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBJECT.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJECT.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIMETABLE.IS_ACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIMETABLE.IS_ACT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEEKDAY.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEEKDAY.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
