@model IEnumerable<SFSAcademy.TIMETABLE_ENTRY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BATCH.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLASS_TIMING.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.EMP_NUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIMETABLE.IS_ACT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEEKDAY.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BATCH.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLASS_TIMING.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.EMP_NUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIMETABLE.IS_ACT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEEKDAY.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
