@model PagedList.IPagedList<SFSAcademy.USER>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "All";
}

<div id="content-header">
    <img src="~/Content/images/user_profile/user_profile_logo.jpg" alt="Profile Logo">
    <h1>All Users</h1>
    <h3>Detailes About User</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>

@if (ViewBag.ErrorMessage != null)
{
    <p class="flash-msg"> @ViewBag.ErrorMessage </p>
}
<div id="page-yield">
    <div class="all-user">
        @if (ViewBag.Notice != null)
        {
            <p class="flash-msg"> @ViewBag.Notice </p>
        }
        @using (Html.BeginForm("All", "User", FormMethod.Get))
        {
            <div class="label-field-pair">
                <div class="text-input-bg">
                    @Html.DropDownList("SearchString", new SelectList(Enum.GetValues(typeof(Role))), "Select Role", new { @class = "form-control", @id = "Role" })
                </div>
            </div>
            <input type="submit" value="Search" id="submit-button" />
        }
    </div>
    <div id="users">
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            <tr class="tr-head">
                <th>
                    Sl. No.
                </th>
                <th>
                    @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    First Name
                </th>
                <th>
                    User Name
                </th>
                <th>
                    @Html.ActionLink("Create Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th></th>
            </tr>
            <tr class="tr-blank"></tr>
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string selectedRow = "tr-even";
                if (i % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="@selectedRow">
                    <td class="col-1">@i</td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.LAST_NAME)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.FIRST_NAME)
                    </td>
                    <td class="col-4">
                        @Html.DisplayFor(modelItem => item.USRNAME)
                    </td>
                    <td class="col-5" nowrap>
                        @if (!item.CREATED_AT.Equals(null))
                        {
                            @item.CREATED_AT.Value.ToShortDateString()
                        }
                    </td>
                    <td class="col-6" nowrap>
                        @Html.ActionLink("Edit ", "Edit", new { id = item.ID })|@Html.ActionLink(" Details ", "Details", new { id = item.ID })
                    </td>
                </tr>
                i = i + 1;
            }
        </table>
        <br />
        @Html.PagedListPager(Model, page => Url.Action("All",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

    <div id="user_information"> </div>
    <div class="extender"> </div>
</div>




