@model SFSAcademy.User

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery.ui.all.css" />
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<div id="content-header">
    <img src="~/Content/images/user_profile/user_profile_logo.jpg" alt="Profile Logo">
    <h1>Create User</h1>
    <h3>Make New Admin User</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="page-yield">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (ViewBag.ErrorMessage != null)
        {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }

        <div id="create_user_form">

            <div id="necessary-field-notification">Fields marked with <span class="necessary-field">*</span> must be filled.  (Only Admin User can be created)</div>

            <div class="label-field-pair">
                <label for="user_username">Username<span class="necessary-field">*</span></label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", @style = "color:red; font-size:small" })
                </div>
            </div>
            <br />
            <div class="label-field-pair">
                <label for="user_first_name">First Name<span class="necessary-field">*</span></label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @style = "color:red; font-size:small"})
                </div>
            </div>
            <br />
            <div class="label-field-pair">
                <label for="user_last_name">Last Name</label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @style = "color:red; font-size:small" })
                </div>
            </div>
            <br />
            <div class="label-field-pair">
                <label for="user_password">Password<span class="necessary-field">*</span></label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "color:red; font-size:small" })
                </div>
            </div>
            <br />
            <div class="label-field-pair">
                <label for="user_email">Email <span class="necessary-field">*</span></label>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "color:red; font-size:small" })
                </div>
            </div>
            <br />
            @Html.Hidden("Role", "Admin" )
            <div class="extender"></div>
            <input type="submit" value="►Create" class="user_submit_button" />

        </div>

    }

</div>