@model IEnumerable<SFSAcademy.Products>

@{    Layout = null;}

<div class="students-table">
    <table id="listing" align="center" style="width:100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
            <th>
                Sl. No.
            </th>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Sub Category
            </th>
            <th>
                Brand
            </th>
            <th>
                Current Price
            </th>
            <th>
                Average Cost
            </th>
            <th>
                Last Procured On
            </th>
            <th></th>
        </tr>
        <tr class="tr-blank"></tr>
        @{int i = 1; }
        @foreach (var item in Model)
            {
                string selectedRow = "tr-even";
                if (i % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="@selectedRow">
                    <td class="col-1">@i</td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.ProductData.PRODUCT_CD)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.ProductData.NAME)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.ProductData.DESCR)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.CategoryData.NAME)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.SubCategoryData.NAME)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.BrandData.NAME)
                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.ProductData.CURRENT_PRICE)
                    </td>
                    <td class="col-6" nowrap>
                        @Html.DisplayFor(modelItem => item.ProductData.AVERAGE_COST)
                    </td>
                    <td class="col-7" nowrap>
                        @if (!item.LAST_PROCURED.Equals(null))
                        {
                            @item.LAST_PROCURED.Value.ToShortDateString()
                        }
                    </td>
                    <td class="col-8" nowrap>
                        @Html.ActionLink("Procure ", "New_Procurement", new { id = item.ProductData.PRODUCT_ID })
                    </td>

                </tr>
            i = i + 1;
        }
    </table>
    <br />
</div>
