@model IEnumerable<SFSAcademy.USER>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $(function () {
            $("#resultUser").dialog({
                autoOpen: false,
                draggable: true,
                resizable: true,
                width: 500,
                height: 'auto',
                dialogClass: "alert",
                cache: false,
                buttons: {
                    Cancel: function () {
                        $("#resultUser").dialog("close");
                    }
                },
                modal: true
            });

        });

        $("#UserList").hide();
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#SearchUser").keyup(function () {
            var SearchUserText = $("#SearchUser").val().toLowerCase();
            $(".SearchUser").each(function () {
                if (!Contains($(this).text().toLowerCase(), SearchUserText)) {
                    $("#UserList").show();
                    $(this).hide();
                }
                else {
                    $("#UserList").show();
                    $(this).show();
                }
            });
            if ($("#SearchUser").val() == '') {
                $("#UserList").hide();
            }
        });
    });

    function OpenUserDialog() {
        $('#resultUser').dialog("open");
    }

</script>
<script type="text/javascript" language="javascript">
    //Very similar function as before (except this time with an argument)
    function LoadUser(sender) {
        /* Request the partial view with .get request. */
        $.get(sender, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#user-model-box').html(data);
            /* little fade in effect */
            $('#user-model-box').fadeIn('fast');
        }).success(function (status) {
            $("#resultUser").dialog("close");
        });
    }
</script>

<div id="user-model-box">
    @Html.DropDownList("User_ID", null, htmlAttributes: new { @class = "form-control" })
    <a href='#' onclick="OpenUserDialog()"><img src="~/Content/images/search_icon.png" title="Click to search..."></a>
</div>

<div id="resultUser" style="display:none" class="form" title="User Details">
    <p class="flash-msg">*Enter User Name or any details to search.</p>
    <div class="container">
        <div class="input-group">
            <input type="text" id="SearchUser" placeholder="Search" class="form-control" />
        </div>
        <br />
        <div class="students-table" id="UserList">
            <table id="listing" align="center" style="width:100%" cellpadding="1" cellspacing="1" class="table table-striped">
                <tr class="tr-head">
                    <th>
                        User ID
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
                <tr class="tr-blank"></tr>
                @{int i = 1; }
                @foreach (var item in Model)
                {
                    string selectedRow = "tr-even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "tr-odd";
                    }
                    <tr class="SearchUser @selectedRow">
                        <td class="col-2">
                            <a href="@Url.Action("User_Select", "Store",new {id=item.ID})" onclick='LoadUser(this.href); return false;'>@item.USRNAME</a>
                        </td>
                        <td class="col-3" nowrap>
                            @Html.DisplayFor(modelItem => item.FIRST_NAME) @Html.DisplayFor(modelItem => item.LAST_NAME)
                        </td>
                    </tr>
                    i = i + 1;
                }
            </table>
            <br />
        </div>
    </div>

</div>

