@model PagedList.IPagedList<SFSAcademy.Models.Purchase>
@using PagedList.Mvc;
@using SFSAcademy.Models;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "ViewAllSelling";
}


<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Show Store Logo">
    <h1>Store</h1>
    <h3>Backup Selling</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" width="100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("Show Cart", "ViewCart")</li>
    </ul>
</div>
<div id="flash_box">
    @if (Session["StoreBackUpMessage"] != null)
            {
        <p class="flash-msg"> @Session["StoreBackUpMessage"] </p>
    }
</div>

<div class="bread_crumb">
    @Html.ActionLink("Store", "Index") &raquo;
    Backup Transaction
</div>
<div id="page-yield">
    <div id="search_box_bg">
        <div id="searchbox">
            <form name="search-form" id="search-form" action="" style="display:inline">
                @using (Html.BeginForm("ViewAllSelling", "Store", FormMethod.Get))
                {

                    <p>
                        <table>
                            <tr>
                                <td>
                                    <div class="label-field-pair">
                                        <label for="FIRST_NAME">Product Name:</label>
                                        <div class="text-input-bg">
                                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="label-field-pair">
                                        <label for="ADMSN_NO">Student Name:</label>
                                        <div class="text-input-bg">
                                            @Html.TextBox("StudentName", ViewBag.CurrentFilter2 as string)
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="label-field-pair">
                                        <label for="ADMSN_NO">Students Contact Numbers:</label>
                                        <div class="text-input-bg">
                                            @Html.TextBox("ContactNumber", ViewBag.CurrentFilter3 as string)
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="label-field-pair">
                                        <label for="NAME">Money Received By:</label>
                                        <div class="text-input-bg">
                                            @Html.TextBox("ReceivedBy", ViewBag.CurrentFilter4 as string)
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="label-field-pair">
                                        <label for="NAME">Is Money Deposited?:</label>
                                        <div class="text-input-bg">
                                            @Html.TextBox("MoneyDeposited", ViewBag.CurrentFilter5 as string)
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="label-field-pair">
                                        <label for="DOB">Sold From Date:</label>
                                        <div class="text-input-bg">
                                            @Html.TextBox("SoldFromDate", ViewBag.CurrentFilter9 as string)
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="label-field-pair">
                                        <label for="DOB">Sold To Date:</label>
                                        <div class="text-input-bg">
                                            @Html.TextBox("SoldToDate", ViewBag.CurrentFilter10 as string)
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div id="pdf-view-button">
                            <ul>
                                <li><input type="submit" value="Search" class="submit-button" /></li>
                            </ul>
                            <ul>
                                <li><a href="@Url.Action("BackupSelectedTransactions", "Store",new { searchString = ViewBag.CurrentFilter, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10 })" alt="Backup Selected Transactions" class="submit-button">Backup Selected Transactions</a></li>
                            </ul>
                        </div>
                    </p>
                }

                <div class="extender"></div>
            </form>
        </div>
    </div>

    <div class="students-table">
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            <tr class="tr-head">
                <th>
                    Sl. No.
                </th>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Unit Sold
                </th>
                <th>
                    Sold Amount
                </th>
                <th>
                    Sold By
                </th>
                <th>
                    Is Deposited
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Sold ON
                </th>
                @if (Html.CurrentUser_UserType().Equals("Admin"))
            {
                    <th></th>
                }
            </tr>
            <tr class="tr-blank"></tr>
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string selectedRow = "tr-even";
                if (i % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="@selectedRow">
                    <td class="col-1">@i</td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.ProductData.NAME)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.CategoryData.NAME)
                    </td>
                    <td class="col-4">
                        @Html.DisplayFor(modelItem => item.PurchaseData.UNIT_SOLD)
                    </td>
                    <td class="col-4">
                        @Html.DisplayFor(modelItem => item.PurchaseData.SOLD_PRICE)
                    </td>
                    <td class="col-4">
                        @Html.DisplayFor(modelItem => item.PurchaseData.SOLD_BY)
                    </td>
                    <td class="col-5" nowrap>
                        @Html.DisplayFor(modelItem => item.PurchaseData.IS_DEPOSITED)
                    </td>
                    <td class="col-6" nowrap>
                        @Html.DisplayFor(modelItem => item.PurchaseData.STUDENT_NAME)
                    </td>
                    <td class="col-7" nowrap>
                        @if (!item.PurchaseData.SOLD_ON.Equals(null))
                        {
                            @item.PurchaseData.SOLD_ON.Value.ToShortDateString()
                        }
                    </td>
                    @if (Html.CurrentUser_UserType().Equals("Admin"))
                    {
                        <td class="col-8" nowrap>
                            @Html.ActionLink("Edit ", "EditSelling", new { id = item.PurchaseData.ID }, new { style = "text-decoration:underline" })

                        </td>
                    }
                </tr>
                i = i + 1;
            }
        </table>
        <br />
        @Html.PagedListPager(Model, page => Url.Action("BackupTransaction",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4, currentFilter5 = ViewBag.CurrentFilter5, currentFilter9 = ViewBag.CurrentFilter9, currentFilter10 = ViewBag.CurrentFilter10 }))
    </div>
    <div id="products"></div>
</div>
