
@{
    ViewBag.Title = "Compare_Report";
}
<script>
    $(function () {
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd/mm/yy',
            buttonImageOnly: true
        });
    });

</script>
<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Finance Logo">
    <h1>Transactions</h1>
    <h3>Monthly Transactions</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Store", "Index") &raquo;
    @Html.ActionLink("Monthly Transactions", "Monthly_Report") &raquo;
    Compare Report
</div>
<div id="page-yield">
    <div class="box">
        <div id="report">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="label-field-pair label">
                    <label>Select Start Date:</label>
                    <div class="text-field-bg">
                        @Html.Editor("START_TRAN_DATE", new { htmlAttributes = new { @class = "m -wrap  datepicker" } })
                    </div>
                </div>
                <div class="label-field-pair label">
                    <label>Select End Date:</label>
                    <div class="text-field-bg">
                        @Html.Editor("END_TRAN_DATE", new { htmlAttributes = new { @class = "m -wrap  datepicker" } })
                    </div>
                </div>
                <h4>Compare With </h4>
                <div class="label-field-pair label">
                    <label>Select Start Date:</label>
                    <div class="text-field-bg">
                        @Html.Editor("START_TRAN_DATE2", new { htmlAttributes = new { @class = "m -wrap  datepicker" } })
                    </div>
                </div>
                <div class="label-field-pair label">
                    <label>Select End Date:</label>
                    <div class="text-field-bg">
                        @Html.Editor("END_TRAN_DATE2", new { htmlAttributes = new { @class = "m -wrap  datepicker" } })
                    </div>
                </div>
                <input type="submit" value="► Ok" class="submit_button" formaction='@Url.Action("Report_Compare", "Store")' />
            }
        </div>
    </div>
</div>


