@model SFSAcademy.STORE_PRODUCTS

@{
    ViewBag.Title = "Delete";
}

<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Student Details Logo">
    <h1>Store</h1>
    <h3>Delete Product</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div>
    <img src="~/Content/images/_global/header_underline_.jpg" width="100%">
</div>
<div id="flash_box">
    @if (ViewBag.StoreDeleteMessage != null)
            {
        <p class="flash-msg"> @ViewBag.StoreDeleteMessage </p>
    }
</div>
<div class="bread_crumb">
    @Html.ActionLink("Store", "Index") &raquo;
    @Html.ActionLink("Product List", "ViewAll") &raquo;
    Delete Product
</div>
<div id="page-yield">
    <div id="admission1_form">
        <div id="necessary-field-notification">
            Mark
            <span class="necessary-field">*</span> Denotes Necessary Field
        </div>
        <span class="span-sub-heading">Product Details</span>
        <hr class="sub-heading">
        <div id="autofill-area">
            @Html.HiddenFor(model => model.PRODUCT_ID)
            @Html.HiddenFor(model => model.CREATED_AT)
            @Html.HiddenFor(model => model.UPDATED_AT)
            @Html.HiddenFor(model => model.IS_ACT)
        </div>
        <div class="label-field-pair">
            @Html.LabelFor(model => model.NAME, "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="necessary-field" style="font-size:small">* Required Field</span>
            <div class="text-input-bg">
                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="label-field-pair">
            @Html.LabelFor(model => model.CATEGORY_ID, "Product Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="necessary-field" style="font-size:small">* Required Field</span>
            <div class="text-input-bg">
                @Html.DropDownList("CATEGORY_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CATEGORY_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="label-field-pair">
            @Html.LabelFor(model => model.SUB_CATEGORY_ID, "Product Sub Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="necessary-field" style="font-size:small">* Required Field</span>
            <div class="text-input-bg">
                @Html.DropDownList("SUB_CATEGORY_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SUB_CATEGORY_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="label-field-pair">
            @Html.LabelFor(model => model.BRAND, "Product Brand / Manufacturer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="text-input-bg">
                @Html.EditorFor(model => model.BRAND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BRAND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="admission1_form_vertical_block_left">
            <div class="label-field-pair">
                @Html.LabelFor(model => model.TOTAL_UNIT, "Units Purchased", htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="necessary-field" style="font-size:small">* Required Field</span>
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.TOTAL_UNIT, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.TOTAL_UNIT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="label-field-pair">
                @Html.LabelFor(model => model.TOTAL_COST, "Total Cost", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TOTAL_COST, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TOTAL_COST, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="label-field-pair">
                @Html.LabelFor(model => model.COST_PER_UNIT, "Cost Per Unit", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COST_PER_UNIT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COST_PER_UNIT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="label-field-pair">
                @Html.LabelFor(model => model.SELL_PRICE_PER_UNIT, "Selling Price Per Unit", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SELL_PRICE_PER_UNIT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SELL_PRICE_PER_UNIT, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr class="label-underline">

        </div>

        <div id="admission1_form_vertical_block_right">
            <span class="span-sub-heading">Product Purchase and Payment Details</span>
            <hr class="sub-heading">

            <div class="label-field-pair">
                @Html.LabelFor(model => model.PURCHASED_ON, "Date of Purchase", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PURCHASED_ON, new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @Value = ViewBag.PURCHASED_ON, @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.PURCHASED_ON, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="label-field-pair">
                @Html.LabelFor(model => model.PURCHASED_THROUGH, "Purchased Through", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.DropDownListFor(model => model.PURCHASED_THROUGH, new List<SelectListItem>
                        { new SelectListItem{Text="Online Portal", Value="Online",Selected=true},
                          new SelectListItem{Text="Vendor", Value="Vendor"},
                          new SelectListItem { Text = "Local Shop", Value = "Shop" },
                          new SelectListItem { Text = "Whole Sale Shop", Value = "Wholesale" },
                          new SelectListItem{Text="Personnel Item", Value="Personnel"},
                          new SelectListItem{Text="Others", Value="Others"}}, "Select One")
                    @Html.ValidationMessageFor(model => model.PURCHASED_THROUGH, "", new { @class = "text-danger", @Value = ViewBag.PURCHASED_THROUGH })
                </div>
            </div>

            <div class="label-field-pair">
                @Html.LabelFor(model => model.PAID_BY, "Mode of Payment", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.DropDownListFor(model => model.PAID_BY, new List<SelectListItem>
                        { new SelectListItem{Text="Cash", Value="Cash",Selected=true},
                          new SelectListItem{Text="Check", Value="Check"},
                          new SelectListItem { Text = "Paid Through Online Transaction", Value = "Online" },
                          new SelectListItem { Text = "Paid from School Book", Value = "School" },
                          new SelectListItem{Text="Paid from Cash Reserve", Value="CashReserve"},
                          new SelectListItem{Text="Others", Value="Others"}}, "Select One")
                    @Html.ValidationMessageFor(model => model.PAID_BY, "", new { @class = "text-danger", @Value = ViewBag.PAID_BY })
                </div>
            </div>

            <div class="label-field-pair">
                @Html.LabelFor(model => model.UNIT_LEFT, "Number of Units Left", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.UNIT_LEFT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UNIT_LEFT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="label-field-pair">
                @Html.LabelFor(model => model.IS_ACT, "Currently Being Sold", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.DropDownListFor(model => model.IS_ACT, new List<SelectListItem>
                        { new SelectListItem{Text="Yes", Value="Y"},
                          new SelectListItem{Text="No", Value="N"}}, "Select If Currently Being Sold")
                    @Html.ValidationMessageFor(model => model.IS_ACT, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr class="label-underline">
            <br />

        </div>
        <div class="extender">
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }

</div>