
@{
    ViewBag.Title = "Monthly_Report";
}
<script>
    $(function () {
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd/mm/yy',
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            showAnim: 'slideDown'
        });
    });

</script>
<div id="content-header">
    <img src="~/Content/images/show_finance.png" alt="Finance Logo">
    <h1>Transactions</h1>
    <h3>Monthly Transactions</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("Compare Transactions", "Compare_Report")</li>
    </ul>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        @Html.ActionLink("Store", "Index") &raquo;
        Monthly Transaction Report
    </div>
    <div class="box">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="label-field-pair label">
                <label>Select Start Date:</label>
                <div class="text-field-bg">
                    @Html.Editor("START_TRAN_DATE", new { htmlAttributes = new { @class = "m -wrap  datepicker" } })
                </div>
            </div>
            <div class="label-field-pair label">
                <label>Select End Date:</label>
                <div class="text-field-bg">
                    @Html.Editor("END_TRAN_DATE", new { htmlAttributes = new { @class = "m -wrap  datepicker" } })
                </div>
            </div>
            <input type="submit" value="► Ok" class="submit_button"  formaction='@Url.Action("Update_Monthly_Report", "Store")'/>
        }
    </div>
</div>

