@model SFSAcademy.STORE_PURCHAGE_CART

@{
    ViewBag.Title = "Purchase";
}

<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script>
    $(function () {
        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd-mm-yy',
            buttonImageOnly: true
        });
        $("#datepicker2").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar_date_select/calendar.gif",
            dateFormat: 'dd-mm-yy',
            buttonImageOnly: true
        });
    });
</script>
<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Student Details Logo">
    <h1>Store</h1>
    <h3>Sell Item</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div>
    <img src="~/Content/images/_global/header_underline_.jpg" width="100%">
</div>

<div id="page-yield">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="admission1_form">
            <div id="necessary-field-notification">
                Mark
                <span class="necessary-field">*</span> Denotes Necessary Field
                <p class="flash-msg"> Number of Items in the Cart = @ViewBag.CartItems </p>
            </div>
            <span class="span-sub-heading">Unit Details</span>
            <hr class="sub-heading">
            <div id="autofill-area">
                <div class="student_admission_date">
                    @Html.LabelFor(model => model.PRODUCT_ID, "Prpoduct ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="text-input-bg-admission">
                        @Html.DropDownList("PRODUCT_ID", null, htmlAttributes: new { @class = "form-control", @Value = ViewBag.PRODUCT_ID, @readonly = "readonly" })
                        <span class="necessary-field">*</span>
                        @Html.ValidationMessageFor(model => model.PRODUCT_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div class="label-field-pair">
                @Html.LabelFor(model => model.UNIT_SOLD, "Number of Unit Sold", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.UNIT_SOLD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UNIT_SOLD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="label-field-pair">
                @Html.LabelFor(model => model.SOLD_PRICE, "Price on Which Sold", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="text-input-bg">
                    @Html.EditorFor(model => model.SOLD_PRICE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SOLD_PRICE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="admission1_form_vertical_block_left">
                <div class="label-field-pair">
                    @Html.LabelFor(model => model.SOLD_BY, "Person Who Sold", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="text-input-bg">
                        @Html.EditorFor(model => model.SOLD_BY, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SOLD_BY, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="label-field-pair">
                    @Html.LabelFor(model => model.MONEY_RECEIVED_BY, "Money Received By", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MONEY_RECEIVED_BY, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MONEY_RECEIVED_BY, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="label-field-pair">
                    @Html.LabelFor(model => model.SOLD_ON, "Date of Selling", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SOLD_ON, new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @Value = ViewBag.ReturnDate, @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SOLD_ON, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr class="label-underline">

            </div>

            <div id="admission1_form_vertical_block_right">
                <span class="span-sub-heading">Purchaser Details</span>
                <hr class="sub-heading">

                <div class="label-field-pair">
                    @Html.LabelFor(model => model.STUDENT_NAME, "Student's Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.STUDENT_NAME, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.STUDENT_NAME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="label-field-pair">
                    @Html.LabelFor(model => model.STUDENT_CONTACT_NO, "Student's Contact Number", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="text-input-bg">
                        @Html.EditorFor(model => model.STUDENT_CONTACT_NO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.STUDENT_CONTACT_NO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="label-field-pair">
                    @Html.LabelFor(model => model.IS_DEPOSITED, "Money Deposited in Bank?", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="text-input-bg">
                        @Html.EditorFor(model => model.IS_DEPOSITED, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IS_DEPOSITED, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="label-field-pair">
                    @Html.LabelFor(model => model.IS_ACT, "Is transaction on Credit?", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="text-input-bg">
                        @Html.EditorFor(model => model.IS_ACT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IS_ACT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr class="label-underline">
                <br />

            </div>
            <div class="extender">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="► Add to Cart" class="submit_button" />
                <a href="@Url.Action("ViewAll", "Store")" alt="Back to Product List" target="_blank" class="submit-button">Back to Product List</a>
                <a href="@Url.Action("ViewCart", "Store")" alt="Show Cart" target="_blank" class="submit-button">Show Cart</a>

            </div>
        </div>

    }
</div>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}