@model IEnumerable<SFSAcademy.STORE_PURCHAGE_ORDER>

@{
    ViewBag.Title = "Purchage Order";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>

<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery.ui.all.css" />
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />

<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Store Logo">
    <h1>Store</h1>
    <h3>Purchage Order</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Store", "Index") &raquo;
    Purchage Order
</div>
<div id="flash_box">
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="flash-msg"> @ViewBag.ErrorMessage </p>
    }
</div>
<div id="page-yield">
    <div id="flash_box">
        @if (ViewBag.Notice != null)
        {
            <p class="flash-msg"> @ViewBag.Notice </p>
        }
    </div>
    <p class="flash-msg"> Create new Purchage Order with below information. </p>
    <div id="student-category-form">
        @Html.Partial("_purchage_order_create_form")
    </div>
    <div class="extender"></div>
    <p class="flash-msg"> Existing POs </p>
    <div id="student-category-list">
        @{Html.RenderAction("PurchageOrderList", "Store");}

    </div>
</div>