@model IEnumerable<STORE_INVENTORY>

@{
    ViewBag.Title = "Selling";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery.ui.all.css" />
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script>
    $(document).ready(function () {
        $("#PrdList").hide();
        $(".LoaderBox").hide();
        $(function () {
            $("#result").dialog({
                autoOpen: false,
                draggable: true,
                resizable: true,
                width: 600,
                height: 'auto',
                dialogClass: "alert",
                cache: false,
                buttons: {
                    Cancel: function () {
                        $("#result").dialog("close");
                    }
                },
                modal: true
            });

        });

        $('#myLink').click(function () {
            $(".LoaderBox").show();
            var Quantity = $('#QUANTY').val(); // get the textbox value
            var ProductId = $('#PRODUCTID').val();
            var url = $(this).attr('href') + '?QUANTY=' + Quantity + "&PRODUCT_ID=" + ProductId; // build new url         
            location.href = url; // redirect
            return false; // cancel default redirect
        });
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $("#PrdList").show();
                    $(this).hide();
                }
                else {
                    $("#PrdList").show();
                    $(this).show();
                }
            });
            if ($("#Search").val() == '') {
                $("#PrdList").hide();
            }
        });

    });

    function AddQuantity(Value, ProductName) {
        $('#PRODUCTID').val(Value);
        $('#PRODUCT_NAME').val(ProductName);
        $('#result').dialog('open');
    }
</script>

<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Show Store Logo">
    <h1>Store</h1>
    <h3>Products</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="result" style="display:none" class="form" title="Selling Quantity">
    <div class="label-field-pair label">
        @Html.Label("PRODUCT_LABEL", "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="text-input-bg">
            @Html.Editor("PRODUCT_NAME", new { htmlAttributes = new { @class = "form -control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="label-field-pair label">
        @Html.Label("QUANTY_LABEL", "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
        <span class="necessary-field" style="font-size:small">* Required Field</span>
        <div class="text-input-bg">
            @Html.Editor("QUANTY", new { htmlAttributes = new { @class = "form -control", required = "required" } })
        </div>
    </div>
    @Html.ActionLink("  Sell  ", "Selling", null, new { id = "myLink", style = "color:White;", @class = "submit-button" })
    <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
</div>
@{ string CartItem = String.Concat("Show Cart (", ViewBag.CartItems, ")");}
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink(CartItem, "ViewCart")</li>
        <li>@Html.ActionLink("View All", "ViewAllSelling")</li>
        <li>@Html.ActionLink("Advanced Selling Report", "AdvancedSellingReport")</li>
    </ul>
</div>
<div class="bread_crumb">
    @Html.ActionLink("Store", "Index") &raquo;
    Manage Sellings
</div>
<p class="flash-msg">*Enter Product Name, Category, Sub Category or Brand for search.</p>
<div class="container">
    <div class="form-group">
        <div id="flash_box">
            @if (ViewBag.ErrorMessage != null)
            {
                <p class="flash-msg"> @ViewBag.ErrorMessage </p>
            }
        </div>
        <div class="input-group">
            <img src="~/Content/images/search_icon.png">
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
    <br />
    <div class="students-table" id="PrdList">
        <table id="listing" align="center" style="width:100%" cellpadding="1" cellspacing="1" class="table table-striped">
            <tr class="tr-head">
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Sub Category
                </th>
                <th>
                    Brand
                </th>
                <th>
                    SP
                </th>
                <th>
                    UOM
                </th>
                <th>
                    Unit Left
                </th>
                <th>

                </th>
            </tr>
            <tr class="tr-blank"></tr>
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string selectedRow = "tr-even";
                if (i % 2 == 0)
                {
                    selectedRow = "tr-odd";
                }
                <tr class="Search @selectedRow">
                    <td class="col-3">
                        @Html.ActionLink(item.DESCR, "ProductDetail", new { id = item.PRODUCT_ID })
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.STORE_PRODUCTS.STORE_CATEGORY.NAME)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.STORE_PRODUCTS.STORE_SUB_CATEGORY.NAME)
                    </td>
                    <td class="col-4">
                        @Html.DisplayFor(modelItem => item.STORE_BRAND.NAME)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.SELL_PRICE_PER_UNIT)
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => item.STORE_PRODUCTS.DEFAULT_UOM)
                    </td>
                    <td class="col-4">
                        @Html.DisplayFor(modelItem => item.UNIT_LEFT)
                    </td>
                    @if (Html.Permitted_To("Purchase", "Store"))
                    {
                        <td class="col-3" nowrap>
                            @Html.ActionLink("History ", "SellingHistory", new { id = item.PRODUCT_ID }) |
                            @if (item.UNIT_LEFT > 0)
                            {
                                <button id="@string.Concat("btnCreate",item.PRODUCT_ID)" value="@item.PRODUCT_ID" class="button-label" onclick="AddQuantity(value,'@item.STORE_PRODUCTS.NAME');">Sell</button>
                            }
                        </td>
                    }
                    else
                    {
                        <td class="col-3" nowrap>
                            @Html.ActionLink("History ", "SellingHistory", new { id = item.PRODUCT_ID })
                        </td>
                    }
                </tr>
                i = i + 1;
            }
        </table>
        <br />
    </div>
</div>
<input type="hidden" id="PRODUCTID" name="PRODUCTID" />