@{
    ViewBag.Title = "ViewTimetable";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery.ui.all.css" />
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#PrdList").hide();
        var selectedSubCatId = $('#SubCategoryDropDown').val();
        var SelectedCatId = $('#CategoryDropDown').val();
        var page = $('#page').val();
        $.get('/Store/Update_ViewAllSelling?CATEGORY_ID=' + SelectedCatId + "&SUB_CATEGORY_ID=" + selectedSubCatId + "&page=" + page, function (data) {
            $('#report').html(data);
            $('#report').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox").hide();
        });

        $('#CategoryDropDown').change(function () {
            var selectedID = $(this).val();
            $(".LoaderBox").show();
            $.get('/Store/Sell_Sub_Categories_Select/' + selectedID, function (data) {
                $('#Sell_Sub_Categories_Select').html(data);
                $('#Sell_Sub_Categories_Select').fadeIn('fast');
            }).success(function (status) {
                $(".LoaderBox").hide();
            });

        });

        $(function () {
            $("#result").dialog({
                autoOpen: false,
                draggable: true,
                resizable: true,
                width: 600,
                height: 'auto',
                dialogClass: "alert",
                cache: false,
                buttons: {
                    Cancel: function () {
                        $("#result").dialog("close");
                    }
                },
                modal: true
            });

        });

        $('#myLink').click(function () {
            $(".LoaderBox").show();
            var Quantity = $('#QUANTY').val(); // get the textbox value
            var ProductId = $('#PRODUCTID').val();
            var url = $(this).attr('href') + '?QUANTY=' + Quantity + "&PRODUCT_ID=" + ProductId; // build new url         
            location.href = url; // redirect
            return false; // cancel default redirect
        });
    });

    function show_inventory() {
        $(".LoaderBox").show();
        var selectedSubCatId = $('#SubCategoryDropDown').val();
        var SelectedCatId = $('#CategoryDropDown').val();
        $.get('/Store/Update_ViewAllSelling?CATEGORY_ID=' + SelectedCatId + "&SUB_CATEGORY_ID=" + selectedSubCatId, function (data) {
            $('#report').html(data);
            $('#report').fadeIn('fast');
        }).success(function (status) {
            $(".LoaderBox").hide();
        });
    }

    function AddQuantity(Value, ProductName) {
        $('#PRODUCTID').val(Value);
        $('#PRODUCT_NAME').val(ProductName);
        $('#result').dialog('open');
    }
</script>

<div id="content-header">
    <img src="~/Content/images/show_store.png" alt="Store Logo">
    <h1>Store</h1>
    <h3>All Sellings</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div class="bread_crumb">
    @Html.ActionLink("Store", "Index") &raquo;
    @Html.ActionLink("Selling", "Sell") &raquo;
    View All Sellings
</div>

<div id="result" style="display:none" class="form" title="Selling Quantity">
    <div class="label-field-pair label">
        @Html.Label("PRODUCT_LABEL", "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="text-input-bg">
            @Html.Editor("PRODUCT_NAME", new { htmlAttributes = new { @class = "form -control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="label-field-pair label">
        @Html.Label("QUANTY_LABEL", "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
        <span class="necessary-field" style="font-size:small">* Required Field</span>
        <div class="text-input-bg">
            @Html.Editor("QUANTY", new { htmlAttributes = new { @class = "form -control", required = "required" } })
        </div>
    </div>
    @Html.ActionLink("  Sell  ", "Selling", null, new { id = "myLink", style = "color:White;", @class = "user_button" })
    <div class="LoaderBox"><img src="~/Content/images/loader.gif" id="loader" alt="Finance Logo" style="align-self:center; border:none"></div>
</div>

<div id="page-yield">
    @if (ViewBag.Notice != null)
    {
        <p class="flash-msg"> @ViewBag.Notice </p>
    }
    @Html.AntiForgeryToken()
    <div class="label-field-pair">
        <div class="timetable_entry_course_id">@Html.Label("CATEGORY_ID", "Select Category :", htmlAttributes: new { @class = "control-label col-md-2" })</div>
        <div class="text-input-bg">
            @Html.DropDownList("CATEGORY_ID", null, htmlAttributes: new { @class = "form-control", @id = "CategoryDropDown", @onChange = "show_inventory()" })
            @Html.ValidationMessage("CATEGORY_ID", "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.Partial("_Sell_Sub_Categories_Select")
    <div class="extender"> </div>
    <div id="report"> </div>
</div>
<input type="hidden" value="@ViewBag.page" id="page" name="page" />
