@model SFSAcademy.Models.NewsComments
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />

@if (Model != null)
{
    if (Model.EnableNewsCommentModeration == "Yes")
    {
        bool isAuthor = false;
        if (ViewBag.current_user == Model.AddedByUserId)
        {
            isAuthor = true;
        }
        if (isAuthor || ViewBag.isModerator || Model.isApproved == "Y")
        {
            <li id="comment-item- @Model.commentId">
                <div class="comment-details">
                    <div class="commenter">@Model.commentAddedBy</div>
                    @{
                        if (isAuthor || ViewBag.isModerator)
                        {
                            <div class="delete-comment">
                                @Html.ActionLink("Delete Comment", "delete_comment", new { commentId = Model.commentId, newsId = Model.newsId }, new { onclick = "return confirm('are you sure?')" })
                            </div>
                        }
                    }
                    @{
                        if (Model.commentAddedBy != null)
                        {
                            <div class="comment-posted-at">posted on : @Model.commentAddedDate</div>
                        }
                        else
                        {
                            <div class="comment-posted-at">User Deleted</div>
                        }
                    }
                    <div class="approve">
                        @{

                            if (!ViewBag.isModerator && Model.isApproved != "Y" && isAuthor)
                            {
                                @*@Html.DisplayFor(modelItem => "waiting_to_approve")*@
                                @*@Html.Label("lblwaiting", "waiting_to_approve")*@
                                @Html.Display("waiting_to_approve", "Waiting for approve  ")
                            }

                            if (ViewBag.isModerator && Model.isApproved != "Y")
                            {
                                @*@Html.DisplayFor(modelItem => "waiting_to_approve")*@
                                @Html.Label("lblwaiting", "Waiting for approve  ")
                                @Html.ActionLink("approve", "comment_approved", new { commentId = Model.commentId, newsId = Model.newsId })
                            }
                        }
                    </div>
                </div>
                <div class="comment-content">@Model.commentContent</div>
            </li>
                            }
                            else if (isAuthor)
                            {
                                <li id="comment-item- @Model.commentId">
                                    <div class="comment-details">
                                        @{
                                            if (Model.commentAddedBy != null)
                                            {
                                                <div class="commenter">@Model.commentAddedBy</div>
                                            }
                                            else
                                            {
                                                <div class="commenter">User Deleted</div>
                                            }

                                            if (ViewBag.isAdminUser)
                                            {
                                                if (isAuthor || ViewBag.isModerator)
                                                {
                                                    @Html.ActionLink("Delete Comment", "delete_comment", new { id = Model.commentId }, new { @click = "return confirm('are you sure?')" })
                                                }
                                            }
                                            if (Model.commentAddedBy != null)
                                            {
                                                <div class="comment-posted-at">posted on : @Model.commentAddedDate</div>
                                            }
                                            else
                                            {
                                                <div class="comment-posted-at">User Deleted</div>
                                            }
                                        }
                                    </div>

                                    <div class="comment-content">@Model.commentContent</div>
                                </li>
                                                    }
                                                }
                                            }




<script type="text/javascript">

    function DeleteComment() {
        debugger;
        alert(1);
        //var comment = $("#txtcomments").val();
        //var NewsId = $("#newsId").val();

        //$.post('/news/add_comment?newsId=' + NewsId + "&news_Comment=" + comment, function (data) {
        //    debugger;

        //    if (data != "" || data!= null) {
        //        $("#txtcomments").val("");
        //        $("#comments-section").html("");
        //        $("#comments-section").html(data);
        //    }
        //    else {
        //        alert(data);
        //    }
        //});
    }



</script>
