@model SFSAcademy.Models.NewsDetails

<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<div id="comment-ui">
    <h3 id="comments-heading">Comments</h3>

    @if (Model.newsCommentCount == 0)
    {
        <span id="comments-count">No Comments</span>
    }
    else
    {
        <span id="comments-count">@Model.newsCommentCount </span>
    }

    <div id="comments-section">
        <ul id="comments-list">
            @foreach (var comment in Model.commentList)
            {
                @Html.Partial("_comment", comment)
            }
        </ul>
    </div>
    <h4 id="leave-a-comment">Leave Comment</h4>
    <form name="comments-form" id="comments-form">
        @using (Html.BeginForm("add_comment", "news", FormMethod.Post))
        {
            @Html.Hidden("newsId", Model.newsId)
            <p>
                @Html.TextArea("comments", null, 5, 110, new { @class = "form-control", @id = "txtcomments" })
                @*@Html.TextAreaFor(Model=>Model.newsComment,5, 110, new { @class = "form-control", @id = "txtcomments" })*@
                <input type="button" value="► Submit" , onclick="SaveComment()" class="edit_button user_button" />
            </p>
        }
    </form>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        //alert(1);
    });
    function SaveComment() {
        debugger;
        var NewsId = $("#newsId").val();
        var comment = $("#txtcomments").val();


        $.post('/news/add_comment?newsId=' + NewsId + "&news_Comment=" + comment, function (data) {
            debugger;

            if (data != "" || data!= null) {
                $("#txtcomments").val("");
                $("#comments-section").html("");
                $("#comments-section").html(data);
                //$.get('/news/view?id=' + NewsId, function (data) {
                //});
            }
            else {
                alert(data);
            }

            /* data is the pure html returned from action method, load it to your page */
            //$('#modal-box').html(data);
            /* little fade in effect */
            //$('#modal-box').fadeIn('fast');
        });
    }



</script>