
@model SFSAcademy.NEWS
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/kendo/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/kendoui")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div id="page-yield">
    <div id="search_add_news_area">
        <div class="news_search_add">
            <div id="news_bg">
                <form action="/" method="post" id="NewsSearchForm">

                    <ul>
                        <li>
                            <label for="">Title </label>
                            @Html.TextBoxFor(m => m.TIL, new { @id = "newsTitle", @maxlength = "30", @class ="WaterMarkTextAutomatic textbox", placeholder = "Title"})
                        </li>
                        <li>
                            <label for="">Title </label>
                            @Html.TextBoxFor(m => m.TIL, new { @id = "newsTitle", @maxlength = "30", @class = "WaterMarkTextAutomatic textbox", placeholder = "Title" })
                        </li>
                        <li>
                            <label for="">Title </label>
                            @Html.TextBoxFor(m => m.TIL, new { @id = "newsTitle", @maxlength = "30", @class = "WaterMarkTextAutomatic textbox", placeholder = "Title" })
                        </li>
                    </ul>

                    <div class="extender"></div>
                </form>
            </div>
        </div>
    </div>
</div>
