@model SFSAcademy.Models.NewsDetails
@{
    ViewBag.Title = "view";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<div id="content-header">
    <img src="~/Content/images/show_news/show_news_logo.png" alt="News Logo">
    <h1>News Text</h1>
    <h3>Read News</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="page-yield">

        @if (ViewBag.ErrorMessage != null)
        {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <div id="add_news_form">
        <div id="necessary-field-notification">Legend <span class="necessary-field">*</span> Indicate that respective field is mandatory.></div>
        <div class="news_label_field">
            @Html.HiddenFor(model => model.newsCreatedDate)
            @Html.HiddenFor(model => model.newsUpdatedDate)
            @Html.LabelFor(model => model.newsTitle, "Title", htmlAttributes: new { @class = "control-label col-md-1" })<span class="necessary-field">*</span>
            <div class="news_title_text_field_bg">
                @Html.EditorFor(model => model.newsTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.newsTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="news_label_field">
            @Html.LabelFor(model => model.newsContent, "Content", htmlAttributes: new { @class = "control-label col-md-1" })<span class="necessary-field">*</span>
            <div class="news_content_text_field_bg">
                @Html.TextAreaFor(model => model.newsContent, 5, 110, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.newsContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="extender"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="► Update News" class="news_publish_button" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>

    </div>
}
