@model PagedList.IPagedList<SFSAcademy.Models.NewsDetails>
@using SFSAcademy
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<div id="content-header">
    <img src="~/Content/images/manage_news/manage_news_logo.png" alt="News Logo">
    <h1>School News</h1>
    <h3>Latest announcement</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>
<div id="inner-tab-menu">
    <ul>
        <li>@Html.ActionLink("View All", "Index")</li>
        <li>@Html.ActionLink("Add New", "add")</li>
    </ul>
</div>

<div id="page-yield">
    <div id="search_add_news_area">
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="flash-msg"> @ViewBag.ErrorMessage </p>
        }
        <div class="news_search_add">
            <div id="news_bg">
                <form name="s1form" action="" style="display:inline;">
                    @using (Html.BeginForm("Index", "news", FormMethod.Get))
                    {
                        <p>
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                            <input type="submit" value="go" />
                        </p>
                    }
                </form>
                <div class="extender2"></div>
            </div>
        </div>
        <div class="extender"></div>
    </div>

    @if (Model != null)
    {
        <div id="all_news">
            <table id="listing" align="center" width:"100%" cellpadding="1" cellspacing="1">

                <tr class="tr-head">
                    <td>
                        Sr No
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Author
                    </td>
                    <td>
                        Comments
                    </td>
                    <td>
                        Posted
                    </td>
                </tr>
                <tr class="tr-blank"></tr>
                @{int i = 1; }
                @foreach (var item in Model)
                {
                    string selectedRow = "tr-even";
                    if (i % 2 == 0)
                    {
                        selectedRow = "tr-odd";
                    }
                    <tr class="@selectedRow">
                        <td class="col-1">@i</td>
                        <td class="col-4">
                            @Html.ActionLink(item.newsTitle, "view", new { id = item.newsId })
                        </td>

                        <td class="col-4">
                            @Html.DisplayFor(modelItem => item.newsCreatedBy)
                        </td>

                        @if (item.newsCommentCount != 0)
                        {
                            <td class="col-1">
                                @Html.DisplayFor(modelItem => item.newsCommentCount)
                            </td>
                        }
                        else
                        {
                            <td class="col-1">
                                Not Added
                            </td>
                        }

                        <td class="col-3">
                            @Html.DisplayFor(modelItem => item.newsCreatedDate)
                        </td>
                    </tr>
                    i = i + 1;
                }
            </table>
            <br />
            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
                    }
    <div id="news_information"> </div>
    <div class="extender"> </div>
</div>
