@model SFSAcademy.Models.NewsDetails
@{
    ViewBag.Title = "view";
}
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-ui.js")"></script>
<link rel="stylesheet" href="~/Content/stylesheets/_styles/jquery-ui.css" />
<div id="content-header">
    <img src="~/Content/images/show_news/show_news_logo.png" alt="News Logo">
    <h1>News Text</h1>
    <h3>Read News</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="page-yield">
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="flash-msg"> @ViewBag.ErrorMessage </p>
    }

    <div id="news_title">
        @Html.DisplayFor(modelItem => Model.newsTitle)
    </div>

    <div id="create_date" class="themed_text">
        Posted On :  @Html.DisplayFor(modelItem => Model.newsCreatedDate)
    </div>

    <div id="news_content">
        @Html.DisplayFor(modelItem => Model.newsContent)
    </div>

    @if (ViewBag.isModerator || ViewBag.isAdminUser)
    {
        @Html.ActionLink(" ► Edit News", "edit", new { newsId = Model.newsId }, new { @class = "edit_button user_button" })

        @*@Html.ActionLink(" ► Delete News", "delete", new { newsId = Model.newsId }, new { @class = "delete_button user_button", @click = "return confirm('are you sure?')" })*@

        @Html.ActionLink(" ► Delete News", "delete", new { newsId = Model.newsId }, new { @class = "delete_button user_button", onclick = "return confirm('are you sure?')" })
        <div class="extender"></div>
    }

    <div id="comments-section">
        @Html.Partial("_CommentSections", Model)
    </div>

</div>

